{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'ReputationCosts/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'ReputationCosts/table.css' %}" rel="stylesheet"/>

{% endblock %}

{% block title %}
    {% trans '' %}

{% endblock %}

{% block content %}
    <div class="alert alert-info" role="alert">
        <p>
            {% trans 'Damit ist das Experiment zu Ende. Bitte warten Sie, bis Ihre Sitzplatznummer aufgerufen wird.' %}
        </p>
        <p>
            <b>
                {% trans 'Vielen Dank für die Teilnahme!' %}
            </b>
        </p>
    </div>

{% endblock %}
