{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'global/css/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'global/css/table.css' %}" rel="stylesheet"/>
    <link href="{% static 'questionnaire/css/Counter.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script src="{% static 'questionnaire/js/error.js' %}"></script>
{% endblock %}

{% block title %}
    {% trans "Fragebogen - Teil" %} 2/4
{% endblock %}

{% block content %}
<!-- kenntnis -->
<h3>{% trans "Frage" %}</h3>
{{ form.kenntnis.label }}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr>
            <td width="30%" style="text-align: right">
                {% trans 'Überhaupt keine Kenntnisse' %}
            </td>
            {% for choice in form.kenntnis %}
                <td width="50px" style="text-align: right; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
            <td width="30%">
                {% trans 'Steuerexperte/ Steuerberater' %}
            </td>
        </tr>

    </tbody>
</table>
<div> {{ form.kenntnis.errors }}</div>
<br>

<!-- geldanlagen -->
<h3>{% trans 'Frage' %}</h3>
{{ form.geldanlagen.label }}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr>
            <td width="30%" style="text-align: right">
                {% trans 'Überhaupt keine Kenntnisse' %}
            </td>
            {% for choice in form.geldanlagen %}
                <td width="50px" style="text-align: right; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
            <td width="30%">
                {% trans 'Finanzexperte' %}
            </td>
        </tr>

    </tbody>
</table>
<div> {{ form.geldanlagen.errors }}</div>
<br>

<!-- risiko allgemein -->
<h3>{% trans 'Frage' %}</h3>
{{ form.risiko_allgemein.label }}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr>
            <td width="30%" style="text-align: right">
                {% trans 'Gar nicht risikobereit' %}
            </td>
            {% for choice in form.risiko_allgemein %}
                <td width="50px" style="text-align: right; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
            <td width="30%">
                {% trans 'Sehr risikobereit' %}
            </td>
        </tr>

    </tbody>
</table>
<div> {{ form.risiko_allgemein.errors }}</div>
<br>

<!-- risiko geldanlage-->
<h3>{% trans 'Frage' %}</h3>
{{ form.risiko.label }}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr>
            <td width="30%" style="text-align: right">
                {% trans 'Gar nicht risikobereit' %}
            </td>
            {% for choice in form.risiko %}
                <td width="50px" style="text-align: right; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
            <td width="30%">
                {% trans 'Sehr risikobereit' %}
            </td>
        </tr>

    </tbody>
</table>
<div> {{ form.risiko.errors }}</div>
<br>


<!-- schlupf -->
<h3>{% trans 'Frage' %}</h3>
{{ form.schlupf.label }}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr>
            <td width="30%" style="text-align: right">
                {% trans 'Unter gar keinen Umständen in Ordnung' %}
            </td>
            {% for choice in form.schlupf %}
                <td width="50px" style="text-align: right; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
            <td width="30%">
                {% trans 'In jedem Fall in Ordnung' %}
            </td>
        </tr>

    </tbody>
</table>
<div> {{ form.schlupf.errors }}</div>
<br>

<!-- hinterziehen -->
<h3>{% trans 'Frage' %}</h3>
{{ form.hinterziehen.label }}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr>
            <td width="30%" style="text-align: right">
                {% trans 'Unter gar keinen Umständen in Ordnung' %}
            </td>
            {% for choice in form.hinterziehen %}
                <td width="50px" style="text-align: right; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
            <td width="30%">
                {% trans 'In jedem Fall in Ordnung' %}
            </td>
        </tr>

    </tbody>
</table>
<div> {{ form.hinterziehen.errors }}</div>
<br>

<!-- leistungen -->
<h3>{% trans 'Frage' %}</h3>
{{ form.leistungen.label }}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr>
            <td width="30%" style="text-align: right">
                {% trans 'Staatliche Leistungen sind deutlich geringer als meine Steuerzahlungen' %}
            </td>
            {% for choice in form.leistungen %}
                <td width="50px" style="text-align: right; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
            <td width="30%">
                {% trans 'Staatliche Leistungen sind deutlich höher als meine Steuerzahlungen' %}
            </td>
        </tr>

    </tbody>
</table>
<div> {{ form.leistungen.errors }}</div>
<br>

<!-- sinnvoll -->
<h3>{% trans 'Frage' %}</h3>
{{ form.sinnvoll.label }}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr>
            <td width="30%" style="text-align: right">
                {% trans 'Trifft gar nicht zu' %}
            </td>
            {% for choice in form.sinnvoll %}
                <td width="50px" style="text-align: right; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
            <td width="30%">
                {% trans 'Trifft voll und ganz zu' %}
            </td>
        </tr>

    </tbody>
</table>
<div> {{ form.sinnvoll.errors }}</div>
<br>

<h3>{% trans 'Frage' %}</h3>
Von welchen Steuerplanungsstrategien haben Sie schon gehört?
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr >
            <td></td>
            <td>ja</td>
            <td>nein</td>
            <td>weiß nicht</td>
        </tr>
        <tr>
            <td width="80%" style="text-align: left">
                {{ form.hybrid.label }}
            </td>
            {% for choice in form.hybrid %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="80%" style="text-align: left">
                {{ form.lizenz.label }}
            </td>
            {% for choice in form.lizenz %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="80%" style="text-align: left">
                {{ form.privilegien.label }}
            </td>
            {% for choice in form.privilegien %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="80%" style="text-align: left">
                {{ form.oase.label }}
            </td>
            {% for choice in form.oase %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="80%" style="text-align: left">
                {{ form.treaty.label }}
            </td>
            {% for choice in form.treaty %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>

    </tbody>
</table>
<div> {{ form.hybrid.errors }}</div>
<div> {{ form.lizenz.errors }}</div>
<div> {{ form.privilegien.errors }}</div>
<div> {{ form.oase.errors }}</div>
<div> {{ form.treaty.errors }}</div>
<br>

<h3>{% trans 'Frage' %}</h3>
Welche Medien nutzen Sie, um sich über wirtschaftspolitische Themen zu informieren? Geben Sie an, wie häufig Sie diese nutzen.
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr >
            <td></td>
            <td>Täglich</td>
            <td>5-6 Mal pro Woche</td>
            <td>2-4 Mal pro Woche</td>
            <td>Einmal pro Woche</td>
            <td>Einmal pro Monat</td>
            <td>Nie</td>
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.handelsblatt.label }}
            </td>
            {% for choice in form.handelsblatt %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.bild.label }}
            </td>
            {% for choice in form.bild %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.spiegel.label }}
            </td>
            {% for choice in form.spiegel %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.welt.label }}
            </td>
            {% for choice in form.welt %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.zeit.label }}
            </td>
            {% for choice in form.zeit %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.focus.label }}
            </td>
            {% for choice in form.focus %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.mm.label }}
            </td>
            {% for choice in form.mm %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.regio.label }}
            </td>
            {% for choice in form.regio %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.sonsZ.label }}
            </td>
            {% for choice in form.sonsZ %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>

    </tbody>
</table>
<div> {{ form.handelsblatt.errors }}</div>
<div> {{ form.bild.errors }}</div>
<div> {{ form.spiegel.errors }}</div>
<div> {{ form.welt.errors }}</div>
<div> {{ form.zeit.errors }}</div>
<div> {{ form.focus.errors }}</div>
<div> {{ form.mm.errors }}</div>
<div> {{ form.regio.errors }}</div>
<div> {{ form.sonsZ.errors }}</div>
<br>

<h3>{% trans 'Frage' %}</h3>
Stimmen Sie den folgenden Aussagen zu?
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr >
            <td></td>
            <td colspan="3">stimme überhaupt nicht zu ...</td>
            <td colspan="3"></td>
            <td colspan="3">... stimme voll und ganz zu</td>
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.sparen.label }}
            </td>
            {% for choice in form.sparen %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.verteilung.label }}
            </td>
            {% for choice in form.verteilung %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.umgebung_hint.label }}
            </td>
            {% for choice in form.umgebung_hint %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.umgebung_schl.label }}
            </td>
            {% for choice in form.umgebung_schl %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.akzeptanz_hint.label }}
            </td>
            {% for choice in form.akzeptanz_hint %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.akzeptanz_schl.label }}
            </td>
            {% for choice in form.akzeptanz_schl %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>

    </tbody>
</table>
<div> {{ form.sparen.errors }}</div>
<div> {{ form.verteilung.errors }}</div>
<div> {{ form.umgebung_hint.errors }}</div>
<div> {{ form.umgebung_schl.errors }}</div>
<div> {{ form.akzeptanz_hint.errors }}</div>
<div> {{ form.akzeptanz_schl.errors }}</div>
<br>

<h3>{% trans 'Frage' %}</h3>
Stimmen Sie den folgenden Aussagen über die Finanzämter zu?
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr >
            <td></td>
            <td colspan="3">stimme überhaupt nicht zu ...</td>
            <td colspan="3"></td>
            <td colspan="3">... stimme voll und ganz zu</td>
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.aufdeckung.label }}
            </td>
            {% for choice in form.aufdeckung %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.interpretation.label }}
            </td>
            {% for choice in form.interpretation %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.respekt.label }}
            </td>
            {% for choice in form.respekt %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>
        <tr>
            <td width="50%" style="text-align: left">
                {{ form.fair.label }}
            </td>
            {% for choice in form.fair %}
                <td width="50px" style="text-align: center; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
        </tr>

    </tbody>
</table>
<div> {{ form.aufdeckung.errors }}</div>
<div> {{ form.interpretation.errors }}</div>
<div> {{ form.respekt.errors }}</div>
<div> {{ form.fair.errors }}</div>
<br>





<h3>{% trans 'Frage' %}</h3>
{% formfield player.strafen %}
<br>

<h3>{% trans 'Frage' %}</h3>
{% formfield player.aktien %}
<br>

<!-- politik -->
<h3>{% trans 'Frage' %}</h3>
{{ form.politik.label }}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr>
            <td width="30%" style="text-align: right">
                {% trans 'sehr weit links' %}
            </td>
            {% for choice in form.politik %}
                <td width="50px" style="text-align: right; padding: 2px!important;">{{ choice }} &nbsp;</td>
            {% endfor %}
            <td width="30%">
                {% trans 'sehr weit rechts' %}
            </td>
        </tr>

    </tbody>
</table>
<div> {{ form.politik.errors }}</div>
<br>



    {% next_button %}

{% endblock %}
