{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'global/css/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'global/css/table.css' %}" rel="stylesheet"/>
    <link href="{% static 'questionnaire/css/Counter.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script src="{% static 'questionnaire/js/error.js' %}"></script>
{% endblock %}

{% block title %}
    {% trans 'Fragebogen - Teil' %} 4/4
{% endblock %}

{% block content %}
<h4>Bitte erklären Sie Ihre Gedanken, warum Sie Aktien gekauft oder verkauft haben. Haben Sie die Aktien der beiden Unternehmen unterschiedlich behandelt, wenn ja erklären Sie bitte wie und warum. </h4>
    <h3>{% trans 'Frage' %}</h3>
    {% formfield player.erklaerung %}
    <br>

<h4>Bitte denken Sie nochmal kurz an das Experiment zurück: War alles (von Anfang an) verständlich? Gab es irgendwelche Fehler? Wurde alles richtig und leserlich angezeigt? Ist Ihnen sonst irgendetwas aufgefallen? </h4>
    <h3>{% trans 'Frage' %}</h3>
    {% formfield player.anmerkungen %}
    <br>

    {% next_button %}



{% endblock %}
