{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'ReputationCosts/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'ReputationCosts/table.css' %}" rel="stylesheet"/>
    <link href="{% static 'questionnaire/css/Counter.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
<script src="{% static 'questionnaire/js/error.js' %}"></script>
{% endblock %}

{% block title %}
    {% trans 'Fragebogen - Teil' %} 3/4
{% endblock %}

{% block content %}
<h4>Stellen Sie sich vor, Sie sind Vorstandsmitglied eines multinationalen deutschen Unternehmens: </h4>
    <h3>{% trans 'Frage' %}</h3>
    {% formfield player.gründung %}
    <br>
    <h3>{% trans 'Frage' %}</h3>
    {% formfield player.aufwand %}
    <br>
    <h3>{% trans 'Frage' %}</h3>
    {% formfield player.doppelt %}
    <br>

<h4>Stellen Sie sich vor, Sie sind Geschäftsführer einer bolivianischen Gesellschaft. In Bolivien ist es seit November 2014 unter bestimmten Voraussetzungen legal, Kinder ab 10 Jahren zu beschäftigen. </h4>
    <h3>{% trans 'Frage' %}</h3>
    {% formfield player.kinderarbeit %}
    <br>

    {% next_button %}



{% endblock %}
