/* ****************************************************************************************************************** */
/* *** General *** */
/* ****************************************************************************************************************** */
.otree-body{
    max-width: 70% !important;
    text-align: justify;
}

.otree-title {
    text-align: center;
}

h2{
    text-align: center !important;
    text-decoration: underline;
}

h3{
    font-weight: bold;
}

.otree-btn-next {
    alignment: right !important;
    margin: 10px auto !important;
    display: inherit;
    width: 110px !important;
}

.errorlist{
    color: #b94a48;
    list-style: None;
    margin: 0;
    padding: 0;
}