/* https://codepen.io/imprakash/pen/GgNMXO */

.overlay {
  position: fixed;
  top: -200px;
  bottom: 200px;
  left: -100px;
  right: -100px;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 400ms;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}


.overlay:target {
  visibility: visible;
  opacity: 1;
}


.popup {
  margin-top: 0px;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
  border-radius: 5px;
  width: 400px;
  position: absolute;
  right: -100px;
  top: 180px;
  transition: all 5s ease-in-out;
  height: 300px !important;
  border: inset;
  border-width: 2px;
  border-color: black;
}

.card-body {
  padding: 0.1rem !important;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 15px;
  right: 50px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 100%;
  overflow: auto;
}

.center {
  margin: 0px;
  position: absolute;
  top: 38%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
}