{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
<style>
    table {
        font-size: 10pt;
    }
</style>
    <link href="{% static 'RepCostExperiment/css/Popup_news.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

<div class="card-body" style="height: 0px;">
    <div class="center">
        <div id="news1" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <img src="{% static "ReputationCosts/pictures/Kursverlauf.jpg"%}" width="200px"/>
                    <p style="font-size: 20px">
                        A-Unternehmen mit Gewinnzuwachs – Anleger erfreut
                    </p>
                    <p>
                        Der Geschäftsführer des A-Unternehmens verkündet für dieses Jahr einen Gewinnzuwachs.
                        Das gute Ergebnis erfreut die Anleger. Insgesamt machte das A-Unternehmen in diesem Jahr einen Gewinn vor Steuern in Höhe von 35 Milliarden ECU.
                    </p>

                    <br>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}