{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
<style>
    table {
        font-size: 10pt;
    }
</style>
    <link href="{% static 'RepCostExperiment/css/Popup_news.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

<div class="card-body" style="height: 0px;">
    <div class="center">
        <div id="news4" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <img src="{% static "ReputationCosts/pictures/Steuern.jpg"%}" width="200px"/>
                    <p style="font-size: 20px">
                        B-Unternehmen hat eine effektive Steuerquote von 30,6 % - Steuerquote entspricht dem deutschen Durchschnitt
                    </p>
                    <p>
                        In diesem Jahr dürfen sich die Anleger...
                    </p>

                    <br>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}