{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
<style>
    table {
        font-size: 10pt;
    }
</style>
    <link href="{% static 'RepCostExperiment/css/Popup_news.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

<div class="card-body" style="height: 0px;">
    <div class="center">
        <div id="news4" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <img src="{% static "ReputationCosts/pictures/Steuern.jpg"%}" width="200px"/>
                    <p style="font-size: 20px">
                        B-Unternehmen hat eine effektive Steuerquote von 30,0 % - Steuerquote entspricht dem deutschen Durchschnitt
                    </p>
                    <p>
                        Das B-Unternehmen hat in diesem Jahr ihre Gewinne vollständig in Deutschland versteuert.
                        Seit mehreren Jahren versuchen immer mehr Unternehmen im Rahmen der sozialen Verantwortung ihre Gewinne dort zu versteuern, wo sie entstanden sind.
                        Das B-Unternehmen weist in diesem Jahr eine effektive Steuerquote von 30,0 % aus, was dem gesetzlichen Steuersatz in Deutschland entspricht.
                        Damit kommt das B-Unternehmen nach Ansicht der Experten seiner gesellschaftlichen und sozialen Verantwortung nach.
                    </p>

                    <br>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}