{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
<style>
    table {
        font-size: 10pt !important;
    }
</style>

{% endblock %}

{% block content %}

<table align="center" >
    <tr style="font-size:10pt;">
        <th colspan="2">Gewinn- und Verlustrechnung <br>(in Mrd. ECU)</th>
    </tr>
    <tr style="background: whitesmoke; font-size:10pt;">
        <td width="210px">Umsatzerlöse</td>
        <td style="text-align:center" width="140px">{{Constants.Umsatz}}</td>
    </tr>
    <tr style="font-size:10pt;">
        <td>Gewinn vor Steuern</td>
        <td style="text-align:center">{{Constants.GvS}}</td>
    </tr>
    <tr style="background: whitesmoke; font-size:10pt;">
        <td>Gewinn nach Steuern</td>
        <td style="text-align:center">{% if player.rand == 2 %} {{Constants.GnS_low}} {% else %} {{Constants.GnS_high}} {% endif %}</td>
    </tr>
    <tr style="font-size:10pt;">
        <td>Effektive Steuerquote</td>
        <td style="text-align:center">{% if player.rand == 2 %} {{Constants.ETR_low}} {% else %} {{Constants.ETR_high}} {% endif %} %</td>
    </tr>
    <tr style="background: whitesmoke; font-size:10pt;">
        <td>Gezahlte Steuern</td>
        <td style="text-align:center">{% if player.rand == 2 %} {{Constants.Steuern_low}} {% else %} {{Constants.Steuern_high}} {% endif %}</td>
    </tr>
</table>

{% endblock %}