{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
<style>
    table {
        font-size: 10pt;
    }
    td {
        vertical-align: top !important;
    }
</style>

{% endblock %}

{% block content %}
    {% include 'RepCostExperiment/comp_template/contents/div_news_B1.html' %}
    {% include 'RepCostExperiment/comp_template/contents/div_news_B2.html' %}
    {% include 'RepCostExperiment/comp_template/contents/div_news_A2_rechts.html' %}

<p style="font-weight: bold;color: #3f51b5; font-size:12.0pt; text-align: left;font-size: larger">
    NEWS UND ANALYSEN
</p>

<p>
    <table border="0" cellpadding="1" cellspacing="1" style="text-align: left !important">
        <colgroup>
            <col width="20%" />
            <col width="80%" />
        </colgroup>
        <tr>
            <td valign="top" style="text-align: left; padding-left: 0cm">
                15.01.2020
            </td>
            <td style="text-align: left">
                <a href="#news3">B-Unternehmen mit Gewinnzuwachs – Anleger erfreut</a>
            </td>
        </tr>
        <tr>
            <td valign="top" style="text-align: left; padding-left: 0cm">
                03.01.2020
            </td>
            <td style="text-align: left">
                {% if player.rand == 2 %}
                    <a href="#news6">Gewinnverschiebung ins ausländische Steuerparadies - B-Unternehmen reduziert die effektive Steuerquote auf unterdurchschnittliche 7,5 %</a>
                {% else %}
                    <a href="#news4">B-Unternehmen hat eine effektive Steuerquote von 30,0 % - Steuerquote entspricht dem deutschen Durchschnitt</a>
                {% endif %}
            </td>
        </tr>
    </table>
</p>

{% endblock %}