{% load i18n %}

{% block content %}
<p>Stimmen Sie den folgenden Aussagen zu?</p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped radiogrid2">
    <tbody>
        <tr align="center">
            <th width="70%"></th>
            <th colspan="5" style="text-align: left !important; padding: 0.1rem; padding-left: 0.5rem!important;">sehr <br> uncharakteristisch ...</th>
            <th colspan="4" style="text-align: right !important; padding: 0.1rem; padding-right: 0.5rem!important;">... sehr <br> charakteristisch</th>
        </tr>
<!-- Procrastination1 -->
        <tr>
            <td style="text-align: left">
                {{ form.procrastination1.label }}
            </td>

                {% for choice in form.procrastination1 %}
                    <td style="text-align: center; padding: 0px; vertical-align: middle" >
                    <input type="radio" name="procrastination1" value="choice" style="margin-right: 7%">
                    </td>
                {% endfor %}
        </tr>
<!-- Procrastination2 -->
        <tr>
            <td style="text-align: left">
                {{ form.procrastination2.label }}
            </td>

                {% for choice in form.procrastination2 %}
                    <td style="text-align: center; padding: 0px; vertical-align: middle" >
                    <input type="radio" name="procrastination2" value="choice" style="margin-right: 7%">
                    </td>
                {% endfor %}
        </tr>
<!-- Procrastination3 -->
    <tr>
        <td style="text-align: left">
            {{ form.procrastination3.label }}
        </td>

            {% for choice in form.procrastination3 %}
                <td style="text-align: center; padding: 0px; vertical-align: middle" >
                <input type="radio" name="procrastination3" value="choice" style="margin-right: 7%">
                </td>
            {% endfor %}
    </tr>
<!-- Procrastination4 -->
    <tr>
        <td style="text-align: left">
            {{ form.procrastination4.label }}
        </td>

            {% for choice in form.procrastination4 %}
                <td style="text-align: center; padding: 0px; vertical-align: middle" >
                <input type="radio" name="procrastination4" value="choice" style="margin-right: 7%">
                </td>
            {% endfor %}
    </tr>
<!-- Procrastination5 -->
    <tr>
        <td style="text-align: left">
            {{ form.procrastination5.label }}
        </td>

            {% for choice in form.procrastination5 %}
                <td style="text-align: center; padding: 0px; vertical-align: middle" >
                <input type="radio" name="procrastination5" value="choice" style="margin-right: 7%">
                </td>
            {% endfor %}
    </tr>
<!-- Procrastination6 -->
    <tr>
        <td style="text-align: left">
            {{ form.procrastination6.label }}
        </td>

            {% for choice in form.procrastination6 %}
                <td style="text-align: center; padding: 0px; vertical-align: middle" >
                <input type="radio" name="procrastination6" value="choice" style="margin-right: 7%">
                </td>
            {% endfor %}
    </tr>



    </tbody>
</table>

{% endblock %}