{% load staticfiles otree %}
{% load i18n %}

{% block content %}
<div class="card-body" style="height: 0px;">
    <div class="center">
        <div id="news1" class="overlay">
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <div class="content">
                    <p style="font-size: 20px">
                        A-Unternehmen mit Gewinnzuwachs – Anleger erfreut
                    </p>
                    <p>
                        In diesem Jahr dürfen sich die Anleger...
                    </p>

                    <br>

                </div>
            </div>
        </div>
    </div>
</div>

<p>
    Nachfolgend erhalten Sie Informationen zu den Gewinn- und Verlustrechungen der beiden Unternehmen.  Bitte lesen Sie sich diese genau durch.

</p>


<p>
    <div class="container-fluid">
        <div class="row toprow">
            <div class="col-md-6">
                <div class="card my-0">
                    <div class="card-body" style="height: 350px">
                        <p>
                            <h4 class="card-title" align="center" style="margin-bottom: .0rem">
                                A-Unternehmen
                            </h4>
                        </p>
                        <div id="UnternehmenA" style="margin: 15px">
                            <p>
                                {% include 'RepCostExperiment/comp_template/contents/GuV_A.html' %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card my-0">
                    <div class="card-body" style="height: 350px">
                        <p>
                            <h4 class="card-title" align="center" style="margin-bottom: .0rem">
                                B-Unternehmen
                            </h4>
                        </p>
                        <div id="UnternehmenA" style="margin: 15px">
                            <p>
                                {% include 'RepCostExperiment/comp_template/contents/GuV_B.html' %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p>

<br>
{% if sequence == 1 %}

{% else %}
<h3>{% trans 'Beginn zweite Sequenz' %}</h3>
    <p>
        Mit drücken des Fertig-Buttons können Sie die zweite Sequenz des Experiments starten.
    </p>
{% endif %}

{% endblock %}


