{% load staticfiles otree %}
{% load i18n %}

{% block scripts %}
<script>
    var errorExists
    {% if form.errors %}
    errorExists = true;
    {% endif %}
</script>

    <script>
        errors = document.getElementsByClassName("otree-form-errors alert alert-danger").item(0)
        if (errors != null) {
            errors.innerHTML= "{% trans 'Mindestens eine Verständnisfrage wurde falsch beantwortet. <br> Bitte lesen Sie sich die Instruktionen erneut durch und überprüfen anschließend Ihre Antwort(en)!' %} "
        }else{
            console.log(errors)
        }
    </script>

{% endblock %}

{% block content %}
    <div class="alert alert-info" role="alert">
        <p>
            {% blocktrans trimmed %}
                Bevor das eigentliche Experiment beginnt, möchten wir Sie bitten, die folgenden Fragen zu beantworten.
                Bei Verständnisfragen können Sie sich jederzeit die Instruktionen erneut anschauen.
            {% endblocktrans %}
        </p>
    </div>


    <br>
    {% formfield player.comprehension_question1 %}
    {% formfield player.comprehension_question2 %}
    {% formfield player.comprehension_question3 %}
    {% formfield player.comprehension_question4 %}
    {% if player.rand == 1 %}
        {% formfield player.comprehension_question5 %}
        {% else %}
        {% formfield player.comprehension_question5_2 %}
        {% endif %}
    {% formfield player.comprehension_question6 %}




{% endblock %}


