{% load staticfiles otree %}
{% load i18n %}

{% block content %}


<h3>{% trans 'Unternehmen' %}</h3>
    <p>
        Nachfolgend finden Sie Informationen zu den beiden Unternehmen. Die Unternehmen unterscheiden sich nur in den unten aufgeführten Kennzahlen und News. Bitte lesen Sie sich diese genau durch.
    </p>
    <p>
        <div class="container-fluid">
            <div class="row toprow">
                <div class="col-md-6">
                    <div class="card my-0">
                        <div class="card-body" style="height: 600px">
                            {% include 'RepCostExperiment/comp_template/A.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card my-0">
                        <div class="card-body" style="height: 600px">
                            {% include 'RepCostExperiment/comp_template/B.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p>

<br>
<h3>{% trans 'Dividenden' %}</h3>
    <p>
        Wie in der Trainings-Sequenz werden auch im eigentlichen Experiment die Dividenden der Unternehmen durch einen Zufallsgenerator bestimmt. Insgesamt gibt es fünf mögliche Dividenden mit einer gleichen Eintrittswahrscheinlichkeit von jeweils 20 %.
    </p>

    <p>
        Die Dividende pro Aktie wird in jeder Periode für jedes Unternehmen neu bestimmt. In einer Sequenz ändert sich die Liste der möglichen Dividenden nicht, sodass in jeder Periode aus der gleichen Liste eine Dividende zufällig gezogen wird.
        Diese wird mit Hilfe eines Zufallsgenerators bestimmt. Die Eintrittswahrscheinlichkeit ist für alle fünf Zustände gleich.
    </p>
    <p>
        Der Zufallsgenrator ist für beide Unternehmen unabhängig voneinander, sodass die Unternehmen in einer Periode nicht immer die gleiche Dividende auszahlen werden.
        Die Verteilung ist jedoch für beide Unternehmen identisch, das bedeutet, dass die Wahrscheinlichkeiten für beide Unternehmen identisch sind.
    </p>


{% endblock %}


