{% load staticfiles otree %}
{% load i18n %}

{% block content %}


<h3>{% trans 'Unternehmen' %}</h3>
    <p>
        Nachfolgend finden Sie Informationen zu den beiden Unternehmen. Bitte lesen Sie sich diese genau durch.
    </p>
    <p>
        <div class="container-fluid">
            <div class="row toprow">
                <div class="col-md-6">
                    <div class="card my-0">
                        <div class="card-body" style="height: 516px">
                            {% include 'RepCostExperiment/comp_template/A.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card my-0">
                        <div class="card-body" style="height: 516px">
                            {% include 'RepCostExperiment/comp_template/B.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p>

<br>
<h3>{% trans 'Dividenden' %}</h3>
    <p>
        Die Dividende eines Unternehmens wird durch einen Zufallsgenerator für jede Periode neu bestimmt. Insgesamt gibt es fünf mögliche Dividenden mit einer gleichen Eintrittswahrscheinlichkeit von jeweils 20 %.
        Informationen zu den Dividenden jedes Unternehmens finden Sie bei den Informationen zu jedem Unternehmen.
    </p>
    <p>
        <b>Beispiel:</b> Dividende pro Aktie: [10, 20, 30, 40, 50] ECU
    </p>
    <p>
        Die Dividende pro Aktie wird in jeder Periode für jedes Unternehmen neu bestimmt. Die Höhe der Dividende beträgt in diesem Beispiel 10, 20, 30, 40 <b>oder</b> 50 ECU.
        Sie wird mit Hilfe eines Zufallsgenerators bestimmt. Die Eintrittswahrscheinlichkeit ist für alle fünf Zustände gleich. So erhalten Sie beispielsweise mit einer Wahrscheinlichkeit von 20 % eine Dividende in Höhe von 30 ECU.
    </p>

{% endblock %}


