{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
<style type="text/css">
    .otree-title {
        text-align: center;
    }
</style>
    <link href="{% static 'RepCostExperiment/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <h3>{% trans 'Bildschirm in der Dividendenphase' %}</h3>
        <p>
            {% blocktrans trimmed %}
                 Die folgende Abbildung zeigt den Bildschirm der Dividendenphase. Sie kennen die Dividendenphase bereits aus der Trainings-Sequenz. Abweichend davon erhalten Sie nun Informationen, Orderbücher und Marktpreise für beide Unternehmen.
            {% endblocktrans %}
        </p>
        <p>
            {% if player.rand == 1 %}
                <img src="{% static "ReputationCosts/Screenshots/Dividendenphase_A_low_final.png" %}" width="100%"/>
            {% else %}
                <img src="{% static "ReputationCosts/Screenshots/Dividendenphase_B_low_final.png" %}" width="100%"/>
            {% endif %}
        </p>




    <h3>{% trans 'Ende der Dividendenphase' %}</h3>
        <p>
            {% blocktrans trimmed %}
               Die Dividendenphase endet in den ersten drei Perioden spätestens nach <b>2 Minuten</b> automatisch. Ab der vierten Periode endet die Dividendenphase bereits nach <b>1 Minute</b>. Sie haben wieder die Möglichkeit die Dividendenphase vorzeitig zu beenden, sobald Sie alle Informationen gelesen haben. Klicken Sie dazu auf <i>Weiter</i>.
            {% endblocktrans %}
        </p>




{% endblock %}


