{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
<style type="text/css">
    .otree-title {
        text-align: center;
    }
</style>
    <link href="{% static 'RepCostExperiment/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <h3>{% trans 'Bildschirm in der Dividendenphase' %}</h3>
        <p>
            {% blocktrans trimmed %}
                 Die folgende Abbildung zeigt den Bildschirm der Dividendenphase. In der Dividendenphase können Sie nicht aktiv am Markt teilnehmen. Sie erhalten lediglich die folgenden Informationen.
            {% endblocktrans %}
        </p>
        <center>
        <img src="{% static "ReputationCosts/Screenshots/Dividenden.PNG" %}"/>
        </center>


    <h3>{% trans 'Handelsinformationen' %}</h3>
        <p>
            {% blocktrans trimmed %}
               Im unteren Teil sehen Sie für beide Unternehmen das Orderbuch, in das alle Kaufpreise und Verkaufpreise eingetragen sind. Sie können damit nachvollziehen, ob Sie eine Aktie erworben oder verkauft haben.
                Zusätzlich sehen Sie den berechneten Marktpreis für beide Aktien.
            {% endblocktrans %}
        </p>

    <h3>{% trans 'Ermittlung des Marktpreises' %}</h3>

    <p>
        {% blocktrans trimmed %}
           Im Anschluss an die Handelsphase werden für beide Unternehmen die Nachfragen und Angebote auf dem Markt ausgewertet. Dabei werden die Zahlungsbereitschaften für den Kauf absteigend und die Zahlungsforderungen für den Verkauf aufsteigend sortiert.
            Es werden der Reihe nach die entstandenen Nachfrage- und Angebotspaare verglichen. Es findet immer dann ein Handel statt, wenn der maximale Kaufpreis (Nachfrage) über dem minimalen Verkaufspreis (Angebot) liegt.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed %}
           Der Marktpreis zu dem alle Transaktionen durchgeführt werden, ist der markträumende Preis. Dieser bestimmt sich als Mittelwert aus dem Kaufpreis- und Verkaufspreispaar, bei dem ein Handel stattgefunden hat und die Spanne zwischen Kaufpreis und Verkaufpreis minimal ist.
            Entsprechend kann es passieren, dass beispielsweise Ihr angegebener Kaufpreis zwar über dem Marktpreis liegt, jedoch kein weiterer Marktteilnehmer bereit ist zu diesem Preis zu verkaufen und somit der Käufer mit einem höheren Kaufpreis als Ihrer die Aktie erhält.
        {% endblocktrans %}
    </p>
        Beispiele bitte mit einer dieser Tabellen!!!!

    <h3>{% trans 'Aktuelle Dividenden' %}</h3>
        <p>
            {% blocktrans trimmed %}
               Links und rechts sehen Sie die Höhe der Dividende eines Unternehmens für die aktuelle Periode.
            {% endblocktrans %}
        </p>

    <h3>{% trans 'Berechnung des gesamten Vermögens' %}</h3>
        <p>
            {% blocktrans trimmed %}
               In der Mitte des Bildschirms sehen Sie eine Übersicht der Handels- und der Dividendenphase. Diese zeigt unter anderem zum welchem Preis Sie eine Aktie erworben und/oder verkauft haben. Außerdem sehen Sie wie viele Aktien Sie jeweils von einem Unternehmen in Ihrem Portfolio und welche Dividendenzahlungen Sie dafür erhalten haben. Am Ende sehen Sie ihr neues Vermögen.
            {% endblocktrans %}
        </p>

    <h3>{% trans 'Ende der Dividendenphase' %}</h3>
        <p>
            {% blocktrans trimmed %}
               Die Dividendenphase endet automatisch nach einer Minute. Sie haben wieder die Möglichkeit die Dividendenphase vorzeitig zu beenden, sobald Sie alle Informationen gelesen haben. Klicken Sie dazu auf <i>Weiter</i>.
            {% endblocktrans %}
        </p>




{% endblock %}


