{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
<style type="text/css">
    .otree-title {
        text-align: center;
    }
</style>
    <link href="{% static 'RepCostExperiment/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <h3>{% trans 'Bildschirm in der Dividendenphase' %}</h3>
        <p>
            {% blocktrans trimmed %}
                 Die folgende Abbildung zeigt den Bildschirm der Dividendenphase. In der Dividendenphase können Sie nicht aktiv am Markt teilnehmen. Sie erhalten lediglich die folgenden Informationen.
            {% endblocktrans %}
        </p>
        <center>
        <img src="{% static "ReputationCosts/Screenshots/Dividenden.PNG" %}"/>
        </center>


    <h3>{% trans 'Handelsinformationen' %}</h3>
        <p>
            {% blocktrans trimmed %}
               Im unteren Teil sehen Sie für beide Unternehmen das Orderbuch, in das alle Kaufpreise und Verkaufpreise eingetragen sind. Sie können damit nachvollziehen, ob Sie eine Aktie erworben oder verkauft haben.
                Zusätzlich sehen Sie den berechneten Marktpreis für beide Aktien.
            {% endblocktrans %}
        </p>

    <h3>{% trans 'Ermittlung des Marktpreises' %}</h3>

    <p>
        {% blocktrans trimmed %}
           Im Anschluss an die Handelsphase werden für beide Unternehmen die Nachfragen und Angebote auf dem Markt ausgewertet. Dabei werden die Zahlungsbereitschaften für den Kauf absteigend und die Zahlungsforderungen für den Verkauf aufsteigend sortiert. Sie finden diese Übersicht für beide Märkte unten mittig auf dem Bildschirm in der Dividendenphase.
            Zur Veranschaulichung nutzen wir den Markt A aus der oben abgebildeten Dividendenphase. Es werden der Reihe nach die entstandenen Nachfrage- und Angebotspaare verglichen. Im ersten Paar möchte der Spieler 1 die Aktie für 4 ECU kaufen, während Spieler 2 bereit ist, diese für 2 ECU zu verkaufen. In diesem Fall findet ein Handel statt. Betrachten wir das nächste Nachfrage- und Angebotspaar. Spieler 3 ist bereit die Aktie ebenfalls für 4 ECU zu kaufen. Allerdings möchte Spieler 1 diese minimal für 5 ECU verkaufen. Dies bedeutet, dass zwischen diesen Spielern kein Handel stattfindet.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed %}
           Abschließend muss der Marktpreis berechnet werden, zu dem alle Transaktionen durchgeführt werden. Dafür wird als erstes das Handelspaar mit dem niedrigsten Nachfragepreis und höchsten Angebotspreis bestimmt, bei dem ein Handel stattfindet. Der Marktpreis ergibt sich als Mittelwert aus diesem Kaufpreis- und Verkaufspreispaar. Im Beispiel bedeutet dies, dass wir uns den Handel von Spieler 1 und 2 anschauen. Der Mittelwert aus dem Nachfragepreis (4 ECU) und aus dem Angebotspreis (2 ECU) beträgt 3 ECU, sodass die Aktie für 3 ECU gehandelt wird.
            Entsprechend kann es passieren, dass beispielsweise Ihr angegebener Kaufpreis zwar über dem Marktpreis liegt, jedoch kein weiterer Marktteilnehmer bereit ist zu diesem Preis zu verkaufen und somit der Käufer mit einer höheren oder der gleichen Kaufnachfrage die Aktie erhält.
        {% endblocktrans %}
    </p>
        Beispiele bitte mit einer dieser Tabellen!!!!

    <h3>{% trans 'Aktuelle Dividenden' %}</h3>
        <p>
            {% blocktrans trimmed %}
               Links und rechts sehen Sie die Höhe der Dividende eines Unternehmens für die aktuelle Periode.
            {% endblocktrans %}
        </p>

    <h3>{% trans 'Berechnung des gesamten Vermögens' %}</h3>
        <p>
            {% blocktrans trimmed %}
               In der Mitte des Bildschirms sehen Sie eine Übersicht der Handels- und der Dividendenphase. Diese zeigt unter anderem zum welchem Preis Sie eine Aktie erworben und/oder verkauft haben. Außerdem sehen Sie wie viele Aktien Sie jeweils von einem Unternehmen in Ihrem Portfolio und welche Dividendenzahlungen Sie dafür erhalten haben. Am Ende sehen Sie ihr neues Vermögen.
            {% endblocktrans %}
        </p>

    <h3>{% trans 'Ende der Dividendenphase' %}</h3>
        <p>
            {% blocktrans trimmed %}
               Die Dividendenphase endet automatisch nach einer Minute. Sie haben wieder die Möglichkeit die Dividendenphase vorzeitig zu beenden, sobald Sie alle Informationen gelesen haben. Klicken Sie dazu auf <i>Weiter</i>.
            {% endblocktrans %}
        </p>




{% endblock %}


