{% load staticfiles otree %}
{% load i18n %}

{% block content %}

    <h3>{% trans 'Markt' %}</h3>

    <p>
        {% blocktrans trimmed %}
            Die folgende Abbildung zeigt den Bildschirm in der Handelsphase. Sie sehen auf der linken und rechten Seite jeweils erneut die Informationen zu den Unternehmen.
            In der Mitte erhalten Sie in jeder Handelsphase Informationen zu Ihrem aktuellen Bankguthaben sowie zu Ihrem Portfolio.
        {% endblocktrans %}
     </p>
    <p></p>
        <center>
            {% if player.rand == 1 %}
                <img src="{% static "ReputationCosts/Screenshots/Handelsphase_A_low.png" %}" width="100%"/>
            {% else %}
                <img src="{% static "ReputationCosts/Screenshots/Handelsphase_B_low.png" %}" width="100%"/>
            {% endif %}
        </center>
    </p>
    <h3>{% trans 'Kauf und Verkauf von Aktien' %}</h3>
    <p>
        {% blocktrans trimmed %}
        Wie in der Trainings-Sequenz können Sie durch die Eingabe in die Felder <b>Kauf</b> und <b>Verkauf</b> Aktien handeln. In jeder Periode ist es nur möglich pro Unternehmen <b>eine</b> Aktie zu handeln.
        {% endblocktrans %}

    </p>

    <h3>{% trans 'Ende der Handelsphase' %}</h3>
    <p>
        {% blocktrans trimmed %}
            Die Handelsphase endet in den ersten drei Perioden spätestens nach <b>2 Minuten</b> automatisch. Ab der vierten Periode endet die Handelsphase bereits nach <b>1 Minute</b>. Sie haben die Möglichkeit, bereits vor Ablauf der Zeit, mit dem <i>Weiter</i>-Button Ihre Eingaben zu bestätigen und die Handelsphase vor Ablauf der Zeit zu beenden.
            Eine Überprüfung der Werte findet nur statt, wenn Sie vor Ablauf der Zeit mit dem <i>Weiter</i>-Button bestätigen. Lassen Sie die Zeit ablaufen, werden die in die Felder eingetragenen Werte übernommen, sollten diese jedoch fehlerhaft sein, werden alle Werte für diese Handelsphase gelöscht.
        {% endblocktrans %}
    </p>




{% endblock %}


