{% load staticfiles otree %}
{% load i18n %}

{% block content %}

    <h3>{% trans 'Markt' %}</h3>

    <p>
        {% blocktrans trimmed %}
            Die folgende Abbildung zeigt den Bildschirm in der Handelsphase. Sie sehen auf der linken und rechten Seite jeweils erneut die Informationen zu den Unternehmen. In der Mitte erhalten Sie in jeder Handelsphase Informationen zu Ihrem aktuellen Vermögen sowie zu Ihrem Portfolio.
        {% endblocktrans %}
     </p>
    <p></p>
        <center>
            {% if player.rand == 1 %}
                <img src="{% static "ReputationCosts/Screenshots/Handelsphase_A_low_new.png" %}" width="100%"/>
            {% else %}
                <img src="{% static "ReputationCosts/Screenshots/Handelsphase_B_low_new.png" %}" width="100%"/>
            {% endif %}
        </center>
    </p>
    <h3>{% trans 'Kauf und Verkauf von Aktien' %}</h3>
    <p>
        {% blocktrans trimmed %}
        Wie in der Trainings-Sequenz können Sie durch die Eingabe in die Felder <b>Kauf</b> und <b>Verkauf</b> Aktien handeln.
        {% endblocktrans %}

    </p>

    <h3>{% trans 'Ende der Handelsphase' %}</h3>
    <p>
        {% blocktrans trimmed %}
            Die Handelsphase endet in den ersten drei Perioden spätestens nach <b>2 Minuten</b> automatisch. Ab der vierten Periode endet die Handelsphase bereits nach <b>1 Minute</b>. Ihre Eingaben werden nur ausgewertet, wenn Sie diese, vor Ablauf der Zeit, mit dem <i>Weiter</i>-Button bestätigen.
        {% endblocktrans %}
    </p>




{% endblock %}


