{% load staticfiles otree %}
{% load i18n %}

{% block content %}



<h3>{% trans 'Ablauf' %}</h3>

    <p>
       Nach Abschluss der ersten Sequenz starten Sie im Anschluss mit der zweiten Sequenz. Dabei bleiben die Handels- und die Dividendenphase identisch. Auch die jeweiligen Bildschirme sind identisch zur vorherigen Sequenz.
    </p>
    <p>
        Die zweite Sequenz ist unabhängig von Ihrer ersten Sequenz. Sie erhalten erneut ein Bankguthaben von 1500 ECU und jeweils 5 Aktien der beiden Unternehmen für Ihr Portfolio.
    </p>

    <p>
        Die einzigen Unterschiede liegen in den Informationen, die Sie über die Unternehmen auf der folgenden Seite erhalten. Bitte lesen Sie diese wieder aufmerksam durch.
    </p>


    <h3>{% trans 'Auszahlung' %}</h3>

    <p>
        Zur Erinnerung: Für Ihre Auszahlung wird am Ende des Experiments eine der beiden Sequenzen ausgelost.
    </p>

    <br>



{% endblock %}


