{% load staticfiles otree %}
{% load i18n %}

{% block content %}


    <p>
        Nachfolgend erhalten Sie aktuelle News über die beiden Unternehmen.
    </p>

    <p>
        <div class="container-fluid">
            <div class="row toprow">
                <div class="col-md-6">
                    <div class="card my-0">
                        <div class="card-body" style="height: 600px">
                            <p>
                                <h4 class="card-title" align="center" style="margin-bottom: .0rem">
                                    A-Unternehmen
                                </h4>
                            </p>
                            <p>
                                <img src="{% static "ReputationCosts/pictures/Kursverlauf.jpg"%}" width="200px"/>
                            </p>
                            <p style="font-size: 14pt">
                                <b>A-Unternehmen mit Gewinnzuwachs – Anleger erfreut</b>
                            </p>
                            <p style="font-size: 12pt">
                                Der Geschäftsführer des A-Unternehmens verkündet für dieses Jahr einen Gewinnzuwachs.
                                Das gute Ergebnis erfreut die Anleger. Insgesamt machte das A-Unternehmen in diesem Jahr einen Gewinn vor Steuern in Höhe von 35 Milliarden ECU.
                            </p>
                            <p>
                                {% if player.rand == 1 %}
                                <img src="{% static "ReputationCosts/pictures/TaxAvoidance_de.jpg"%}" width="200px"/>
                                {% else %}
                                <img src="{% static "ReputationCosts/pictures/CTR.jpg"%}" width="200px"/>
                                {% endif %}
                            </p>
                            <p style="font-size: 14pt; text-align: initial;">
                                <b>
                                {% if player.rand == 1 %}
                                Gewinnverschiebung ins ausländische Steuerparadies - A-Unternehmen reduziert die effektive Steuerquote auf nur 7,5 %
                                {% else %}
                                A-Unternehmen hat eine effektive Steuerquote von 30,0 % - Steuerquote entspricht dem gesetzlichen Steuersatz
                                {% endif %}
                                    </b>
                            </p>
                            <p style="font-size: 12pt">
                                {% if player.rand == 1 %}
                                    Das A-Unternehmen hat in diesem Jahr einen großen Teil ihrer Gewinne in eine ausländische Steueroase verlagert.
                                    Seit mehreren Jahren versuchen immer mehr Unternehmen ihre Gewinne dort zu versteuern, wo besonders geringe Steuersätze greifen.
                                    Das A-Unternehmen konnte mit Hilfe der Gewinnverlagerung die effektive Steuerquote auf nur 7,5 % reduzieren.
                                    Zwar ist diese Art der Steuergestaltung legal, jedoch entgehen dem Staat dadurch jährlich Steuereinkünfte in Milliardenhöhe, wodurch Geld für dringend benötigte Sozialleistungen fehlt.
                                {% else %}
                                    Das A-Unternehmen hat in diesem Jahr ihre Gewinne vollständig in Deutschland versteuert.
                                    Seit mehreren Jahren versuchen immer mehr Unternehmen im Rahmen der sozialen Verantwortung ihre Gewinne dort zu versteuern, wo sie entstanden sind.
                                    Das A-Unternehmen weist in diesem Jahr eine effektive Steuerquote von 30,0 % aus, was dem gesetzlichen Steuersatz in Deutschland entspricht.
                                    Damit kommt das A-Unternehmen nach Ansicht der Experten seiner gesellschaftlichen und sozialen Verantwortung nach.
                                {% endif %}
                            </p>



                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card my-0">
                        <div class="card-body" style="height: 600px">
                            <p>
                                <h4 class="card-title" align="center" style="margin-bottom: .0rem">
                                    B-Unternehmen
                                </h4>
                            </p>
                            <p>
                                <img src="{% static "ReputationCosts/pictures/Kursverlauf.jpg"%}" width="200px"/>
                            </p>
                            <p style="font-size: 14pt">
                                <b>B-Unternehmen mit Gewinnzuwachs – Anleger erfreut</b>
                            </p>
                            <p style="font-size: 12pt">
                                Der Geschäftsführer des B-Unternehmens verkündet für dieses Jahr einen Gewinnzuwachs.
                                Das gute Ergebnis erfreut die Anleger. Insgesamt machte das A-Unternehmen in diesem Jahr einen Gewinn vor Steuern in Höhe von 35 Milliarden ECU.
                            </p>
                            <p>
                                {% if player.rand == 1 %}
                                <img src="{% static "ReputationCosts/pictures/CTR.jpg"%}" width="200px"/>
                                {% else %}
                                <img src="{% static "ReputationCosts/pictures/TaxAvoidance_de.jpg"%}" width="200px"/>
                                {% endif %}
                            </p>
                            <p style="font-size: 14pt; text-align: initial;">
                                <b>
                                    {% if player.rand == 2 %}
                                    Gewinnverschiebung ins ausländische Steuerparadies - B-Unternehmen reduziert die effektive Steuerquote auf nur 7,5 %
                                    {% else %}
                                    B-Unternehmen hat eine effektive Steuerquote von 30,0 % - Steuerquote entspricht dem gesetzlichen Steuersatz
                                    {% endif %}
                                </b>
                            </p>
                            <p style="font-size: 12pt">
                                {% if player.rand == 2 %}
                                    Das B-Unternehmen hat in diesem Jahr einen großen Teil ihrer Gewinne in eine ausländische Steueroase verlagert.
                                    Seit mehreren Jahren versuchen immer mehr Unternehmen ihre Gewinne dort zu versteuern, wo besonders geringe Steuersätze greifen.
                                    Das B-Unternehmen konnte mit Hilfe der Gewinnverlagerung die effektive Steuerquote auf nur 7,5 % reduzieren.
                                    Zwar ist diese Art der Steuergestaltung legal, jedoch entgehen dem Staat dadurch jährlich Steuereinkünfte in Milliardenhöhe, wodurch Geld für dringend benötigte Sozialleistungen fehl
                                {% else %}
                                    Das B-Unternehmen hat in diesem Jahr ihre Gewinne vollständig in Deutschland versteuert.
                                    Seit mehreren Jahren versuchen immer mehr Unternehmen im Rahmen der sozialen Verantwortung ihre Gewinne dort zu versteuern, wo sie entstanden sind.
                                    Das B-Unternehmen weist in diesem Jahr eine effektive Steuerquote von 30,0 % aus, was dem gesetzlichen Steuersatz in Deutschland entspricht.
                                    Damit kommt das B-Unternehmen nach Ansicht der Experten seiner gesellschaftlichen und sozialen Verantwortung nach.
                                {% endif %}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p>



{% endblock %}


