{% load staticfiles otree %}
{% load i18n %}

{% block content %}

    <h3>{% trans 'Fixe Vergütung' %}</h3>
        <p>{% trans 'Sie erhalten eine fixe Vergütung von 3 €.' %} .</p>

    <h3>{% trans 'Variable Vergütung' %}</h3>
        <p>
            {% blocktrans trimmed %}
                Ihre variable Vergütung entspricht Ihrem Vermögen am Ende einer Sequenz.
                Am Ende der letzten Periode einer Sequenz erhalten Sie für alle Aktien in Ihrem Protfolio eine letzte Dividendenzahlung. Nach Auszahlung dieser Dividende sind die Aktien wertlos.
                Ihnen wird jedoch nur das Endvermögen von einer der beiden Sequenzen ausgezahlt. Ein Zufallsgenerator entscheidet, welches Vermögen der beiden Sequenzen ausgezahlt wird.
                <b>Es wird folglich nur eine Sequenz entlohnt!</b> Das Ergebnis der zufällig gezogenen Sequenz wird in Euro umgerechnet. Dabei gilt 750 ECU = 1 €.
            {% endblocktrans %}
        </p>

{% endblock %}


