{% load staticfiles otree %}
{% load i18n %}

{% block content %}



<h3>{% trans 'Ablauf' %}</h3>

    <p>
        Nachdem Sie den Marktmechanismus kennengelernt haben, beginnt nun das eigentliche Experiment. Im folgenden erhalten Sie alle relevanten Informationen für das Experiment. Lesen Sie sich diese bitte sorgfältig durch. Nur wenn Sie die Verständnisfragen am Ende der Instruktionen richtig beantwortet haben, wird das eigentliche Experiment gestartet.
    </p>




    <p>
        <!--
        Das Experiment besteht insgesamt aus <b>zwei</b> vom Ablauf her identischen <b>Sequenzen</b> und einem anschließenden <b>Fragebogen</b>. Jede Sequenz besteht aus <b>12&nbsp;Perioden</b>. Jede Periode unterteilt sich wiederum in
        eine <b>Handelsphase</b> und eine <b>Dividendenphase</b>.
        -->
        Das Experiment besteht aus zwei <b>Sequenzen</b> und einem anschließenden <b>Fragebogen</b>. Eine Sequenz besteht aus <b>12&nbsp;Perioden</b>. Jede Periode unterteilt sich wiederum in
        eine <b>Handelsphase</b> und eine <b>Dividendenphase</b>.
    </p>
<!--
    <p>
        Nach Ablauf der ersten Sequenz erhalten Sie eine Übersicht über Ihr Vermögen, sowie neue Informationen für die zweite Sequenz.
    </p>
 -->
    <p>
        In jeder Handelsphase können Sie am Kapitalmarkt Aktien von <b>zwei verschiedenen Unternehmen</b> handeln, um so Ihr Portfolio (= Aktienbestand) zu optimieren. In jeder Dividendenphase erhalten Sie anschließend für jede Aktie in Ihrem Portfolio eine Dividende (= Auszahlung). Um welche Unternehmen es sich handelt und wie hoch die Dividenden sind, erfahren Sie im Punkt <i>Unternehmen und Dividenden</i>.
    </p>

    <p>
        Nachdem Sie die Instruktionen gelesen haben, müssen Sie einige Verständnisfragen beantworten.
    </p>


    <h3>{% trans 'Bankguthaben zu Beginn' %}</h3>

    <p>
        <!--
        Zu Beginn jeder Sequenz erhalten Sie von uns ein Vermögen in Höhe von 1500 ECU. Zusätzlich erhalten Sie für Ihr Portfolio jeweils 5 Aktien der beiden Unternehmen.
        -->
        Zu Beginn jeder Sequenz erhalten Sie von uns ein anfängliches Bankverguthaben in Höhe von 1500 ECU. Zusätzlich erhalten Sie für Ihr Portfolio jeweils 5 Aktien der beiden Unternehmen.
    </p>

    <br>



{% endblock %}


