{% load staticfiles otree %}
{% load i18n %}

{% block content %}

<h3>{% trans 'Ablauf' %}</h3>

    <p>
        In diesem Experiment sollen Sie auf einem fiktiven Kapitalmarkt Aktien kaufen und verkaufen, um so Ihre Auszahlung am Ende des Experiments zu optimieren.
    </p>

    <p>
        Das Experiment besteht insgesamt aus <b>zwei</b> vom Ablauf her identischen <b>Handels-Sequenzen</b> und einem anschließenden <b>Fragebogen</b>. Jede Sequenz besteht aus <b>XX&nbsp;Perioden</b>. Jede Periode unterteilt sich wiederum in
        eine <b>Handelsphase</b> und eine <b>Dividendenphase</b>.
    </p>
    <p>
        In jeder Handelsphase können Sie am Kapitalmarkt Aktien von zwei verschiedenen Unternehmen handeln, um so Ihr Portfolio (= Aktienbestand) zu optimieren. In jeder Dividendenphase erhalten Sie anschließend für jede Aktie in Ihrem Portfolio eine Auszahlung (= Dividende). Um welche Unternehmen es sich handelt und wie hoch die Dividenden sind, erfahren Sie im Punkt <i>Unternehmen und Dividenden</i>.
    </p>

    <p>
        Nachdem Sie die Instruktionen gelesen haben, müssen Sie einige Verständnisfragen beantworten.
    </p>

    <h3>{% trans 'Währung' %}</h3>
    <p>
        Die Durchführung des Experiments erfolgt in einer <b>fiktiven Währung</b>, die wir <b>ECU</b> nennen. 1 ECU entspricht dabei 0,01 €. Ihre tatsächliche Vergütung wird am Ende der Studie in Euro umgerechnet.
    </p>

    <h3>{% trans 'Anfangsvermögen' %}</h3>

    <p>
            Zu Beginn jeder Sequenz erhalten Sie von uns ein Vermögen in Höhe von XX ECU. Zusätzlich erhalten Sie für Ihr Portfolie jeweils xx Aktien der beiden Unternehmen.
    </p>

    <br>



{% endblock %}


