{% load staticfiles otree %}

<h2>Allgemeines</h2>

    <p>
        In diesem Experiment sollen Sie auf einem fiktiven Kapitalmarkt Aktien kaufen und verkaufen, um so Ihre Auszahlung am Ende des Experiments zu optimieren.
    </p>

    <p>
        Sie werden im Experiment <b>mehrere Perioden</b> an einem Kapitalmarkt spielen. Jede Periode besteht aus einer Handelsphase und einer Dividendenphase.
    </p>
    <p>
        In jeder <b>Handelsphase</b> können Sie am Kapitalmarkt Aktien handeln, um so Ihr Portfolio (= Aktienbestand) zu optimieren. In jeder <b>Dividendenphase</b> erhalten Sie anschließend für jede Aktie in Ihrem Portfolio eine Dividende (= Auszahlung).
    </p>

    <p>
        Das Experiment beginnt mit einer Trainings-Sequenz, in der Sie das Design und die Funktionalität des Marktes kennenlernen,
        um sich anschließend leichter im eigentlichen Experiment zu Recht zu finden.
        Auf den nächsten Seite finden Sie die Instruktionen für die Trainings-Sequenz.
    </p>

<h2>Währung</h2>
    <p>
        Die Durchführung des Experiments erfolgt in einer <b>fiktiven Währung</b>, die wir <b>ECU</b> nennen. 500 ECU entsprechen dabei 1 €. Ihre tatsächliche Vergütung wird am Ende des Experiments in Euro umgerechnet.
    </p>