{% load staticfiles otree %}

<h2>Aufbau der Studie</h2>
   <p>Die Studie besteht insgesamt aus einem <b>Verständnistest</b>, <b>zwei Sequenzen</b> und einem anschließenden <b>Fragebogen</b>. Jede Sequenz besteht aus <b>15 Perioden</b>. Jede Periode unterteilt sich wiederum in
        eine <b>Einkommensphase</b> und eine <b>Ruhephase</b>. Beide Sequenzen sind vom Ablauf her vollkommen identisch.</p>

    <p>Die folgende Abbildung zeigt den gesamten Ablauf im Zeitverlauf:</p>

    <br>
   <p>Sämtliche Auszahlungen in dieser Studie erfolgen in einer fiktiven Währung, die wir <b>"ECU"</b> nennen. Ihre tatsächliche Vergütung wird am Ende der Studie in Euro umgerechnet.</p>
