{% load staticfiles otree %}
{% load i18n %}

{% block content %}

<br>
<h3>{% trans 'Dividenden' %}</h3>

    <p>
        Für jede Aktie eines Unternehmens in Ihrem Portfolio erhalten Sie in der Dividendenphase eine Dividende.

        Die Höhe der Dividende wird durch einen Zufallsgenerator für jede Periode neu bestimmt. Insgesamt gibt es fünf mögliche Dividenden mit einer gleichen Eintrittswahrscheinlichkeit von jeweils 20&nbsp;%.
    </p>
    <p>
        <b>Beispiel:</b>

    </p>
    <p>
        <center>
            <img src="{% static "ReputationCosts/Screenshots/Train_Dividende.png" %}" width="25%"/>
        </center>
    </p>
    <p>
        Die Höhe der Dividende in dieser Trainings-Sequenz beträgt 1, 2, 3, 4 <b>oder</b> 5 ECU.
        Diese wird mit Hilfe eines Zufallsgenerators bestimmt. Die Eintrittswahrscheinlichkeit ist für alle fünf Zustände gleich. So erhalten Sie beispielsweise mit einer Wahrscheinlichkeit von 20 % eine Dividende in Höhe von 3 ECU.
    </p>


{% endblock %}


