{% load staticfiles otree %}
{% load i18n %}

{% block content %}

<h3>{% trans 'Anzahl Perioden' %}</h3>

    <p>
        Die Trainings-Sequenz besteht aus <b>zwei Perioden</b>.
    </p>

<h3>{% trans 'Endvermögen' %}</h3>

    <p>
        Nach Ablauf der zweiten Periode sind die Aktien in Ihrem Portfolio wertlos. Ihre Auszahlung wird folglich lediglich durch das Endvermögen zu diesem Zeitpunkt bestimmt.
    </p>

<h3>{% trans 'Beispiele' %}</h3>
    <p>
        Bei den folgenden Beispiele haben Sie zu Beginn 1 Aktie in Ihrem Protfolio sowie ein Anfangsvermögen in Höhe von {{ 100|c }}.
    </p>
    <p>
        <b>Beispiel 1:</b>
    </p>
    <p>
        <i>Annahme:</i> Sie handeln in keiner der beiden Perioden. </p>
    <p>
        <i>Endvermögen:</i> Sie erhalten zunächst in beiden Perioden jeweils eine Dividende. Die Aktie ist nach Ablauf der letzten Periode für Sie wertlos. Das Endvermögen bemisst sich folglich aus dem Anfangsvermögen ({{ 100|c }}) und den Dividendenzahlungen  ({{ 2|c }} + {{ 3|c }}).
    </p>



    <p>
        <center>
             <img src="{% static "ReputationCosts/Screenshots/Train_Fall_1.png" %}" width="65%"/>
        </center>
    </p>
    <p>
        Das gleiche gilt für eine Aktie, die Sie in der ersten Handelsphase kaufen. Sie erhalten für diese in der ersten Dividendenphase eine Ausschüttung. Wenn Sie die Aktie in der zweiten Dividendenphase nicht verkaufen, erhalten Sie auch in der zweiten Dividendenphase die Ausschüttung. Wenn keine weiteren Perioden gespielt werden, dann ist die Aktie für Sie wertlos, da Sie keine Ausschüttungen mehr erhalten und so Ihr Vermögen nicht mehr verändert wird:
    </p>
    <p>
        <center>
             <img src="{% static "ReputationCosts/Screenshots/Train_Fall_2.png" %}" width="65%"/>
        </center>
    </p>
    <p>
        Kaufen Sie eine Aktie erst in der zweiten Handelsrunde, dann erhalten Sie für diese nur noch eine Dividendenauszahlung:
    </p>
    <p>
        <center>
             <img src="{% static "ReputationCosts/Screenshots/Train_Fall_3.png" %}" width="65%"/>
        </center>
    </p>
    <p>
        Verkaufen Sie eine Aktie beispielsweise in der ersten Handelsphase, dann wird der Verkaufspreis Ihrem Vermögen gutgeschrieben. Sie erhalten für diese Aktie in allen darauffolgenden Dividendenphasen keine Ausschüttung mehr.  Sie können das erhaltene Geld in Ihrem Vermögen belassen. Das Vermögen nach Ablauf der letzten Dividendenphase wird an Sie ausgezahlt:
    </p>
    <p>
        <center>
             <img src="{% static "ReputationCosts/Screenshots/Train_Fall_4.png" %}" width="65%"/>
        </center>
    </p>

    <p>
        Sie können das erhaltene Geld aus Verkäufen von Aktien in den folgenden Perioden auch wieder in Aktien investieren:
    </p>
    <p>
        <center>
             <img src="{% static "ReputationCosts/Screenshots/Train_Fall_1.png" %}" width="65%"/>
        </center>
    </p>





{% endblock %}


