able {
    color: black;
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
table th{
    text-align: center !important;
    background-color: #999999;
}
table * {
  position: relative;
}

table td, table th {
  text-align: left;
    vertical-align: center !important;
}

table  tr {
  height: 30px;
}

.alert{
    vertical-align: middle !important;
    padding: 0.4rem !important;
    text-align: center;
    margin-bottom: 0.4rem !important;
    margin-top: 0.4rem !important;
}

#UnternehmenA {
    padding-left: 10px;
    padding-right: 10px;
    height: 430px;
    float: left;
     padding: 20px;
}
#UnternehmenB {
    padding-left: 10px;
    padding-right: 10px;
    height: 430px;
    float: left;
     padding: 20px;
}
#Info {
    height: 430px;
    float: left;
    padding-left: 10pt;
    padding-top: 15pt;
}

#Info2 {
    height: 430px;
    float: left;
    padding-left: 0 pt;
    padding-top: 15 pt;
}

#main {
   width: 440px;
   background-color: #fff;
   padding: 20;
   border-right:0px ;
   border-left:0px ;
   border-top:0px;
   border-bottom:0px;
   margin: 0 auto;
   }

#spaltelinks {
   float: left;
   }

#spalterechts {
   float: right;
   }

.clear { clear: both; }