{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
<style type="text/css">
    .otree-title {
        text-align: center;
    }
</style>
    <link href="{% static 'global/css/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'instructions/css/Counter.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <h3>{% trans 'Höhe und Besteuerung des Einkommens' %}</h3>
        <p>
            {% blocktrans trimmed %}
                In der Ruhephase erhalten Sie von uns kein Einkommen mehr. Ihr Einkommen in den Perioden 9 bis 12 hängt lediglich von Ihren Sparbeiträgen in der Einkommensphase ab. In jeder Periode der Ruhephase erhalten Sie
                ein gleich hohes Bruttoeinkommen (vor Abzug von Steuern), das sich aus Ihrem gesamten Ersparten und den daraus resultierenden Zinsen und Zinseszinsen ergibt.
            {% endblocktrans %}
        </p>
        <p>
            {% if treatment in deferred_group %}
                {% blocktrans trimmed with tax_rate_low=tax_rate_low|floatformat:0 %}
                    Das Bruttoeinkommen unterliegt in der Ruhephase einer Steuer in Höhe von {{ tax_rate_low }} &#37;.
                {% endblocktrans %}
            {% else %}
                {% trans 'Das Bruttoeinkommen ist in der Ruhephase steuerfrei.' %}
            {% endif %}
        </p>

    <h3>{% trans 'Informationen zu dem Bruttoeinkommen während der Einkommensphase' %}</h3>
        <p>
            {% blocktrans trimmed %}
                Nach jeder Periode der Einkommensphase erhalten Sie eine Sparinformation.
                Sie werden zum einen über Ihre durchschnittlichen Sparbeiträge der vorangegangenen Perioden in der Einkommensphase informiert.
                Auf Grundlage dieser durchschnittlichen Sparbeiträge erhalten Sie weiterhin eine Information, wie hoch Ihr Bruttoeinkommen in der Ruhephase wäre.
            {% endblocktrans %}
        </p>

        <p style="margin-left: 20px ">
            <i>
                {% blocktrans trimmed %}
                    <b>Beispiel:</b>
                    In den vorangegangenen Perioden haben Sie durchschnittlich XXX ECU gespart. Sollten Sie bis zur Ruhephase Sparbeiträge wie im Durchschnitt der letzten Perioden in Höhe von XXX ECU sparen,
                    würden Sie in der Ruhephase ein Bruttoeinkommen in Höhe von YYY ECU erhalten.
                {% endblocktrans %}
            </i>
        </p>

    <h3>{% trans 'Auszahlungen in der Ruhephase' %}</h3>
        <p>
            {% if treatment in deferred_group %}
                {% trans 'Das Bruttoeinkommen abzüglich der Steuern bildet den Auszahlungsbetrag der jeweiligen Periode.' %}
            {% else %}
                {% trans 'Das Bruttoeinkommen bildet den Auszahlungsbetrag der jeweiligen Periode.' %}
            {% endif %}
        </p>
    <br>

{% endblock %}


