{% load staticfiles otree %}
{% load i18n %}

{% block content %}

    <h3>{% trans 'Höhe und Besteuerung des Einkommens' %}</h3>
    <p>
        {% blocktrans trimmed %}
            In jeder Periode der <b>Einkommensphase</b> erhalten Sie ein Einkommen. Die Höhe des Einkommens ist jedoch in jeder Periode unterschiedlich und wird durch einen Zufallsgenerator bestimmt.
            Die folgende Tabelle zeigt die Höhe des Bruttoeinkommens (vor Abzug von Steuern) und die dazugehörige Wahrscheinlichkeit:
        {% endblocktrans %}
        <table>
            <tr><th width="200rem">{% trans 'Bruttoeinkommen' %}</th><th width="200rem">{% trans 'Wahrscheinlichkeit' %}</th></tr>
            <tr><td>{{ income4 }}</td><td>25%</td></tr>
            <tr><td>{{ income3 }}</td><td>25%</td></tr>
            <tr><td>{{ income2 }}</td><td>25%</td></tr>
            <tr><td>{{ income1 }}</td><td>25%</td></tr>
        </table>
    </p>

    <p>
        {% blocktrans trimmed with tax_rate=tax_rate|floatformat:0 ph2000=2000|c ph1200=1200|c %}
            Das jeweilige Bruttoeinkommen unterliegt jedoch noch einer Steuer in Höhe von {{ tax_rate }} &#37;, die direkt einbehalten wird. Bei einem Bruttoeikommen in Höhe von {{ ph2000 }}
            würde Ihr Nettoeinkommen beispielsweise {{ ph1200 }} betragen. Bei den Steuern in dieser Studie handelt es sich um Abgaben, die von uns für weitere
            wissenschaftliche Untersuchungen als auch für die anfallenden Gebühren dieser Studie genutzt werden.
        {% endblocktrans %}
    </p>

    <h3>{% trans 'Sparentscheidung' %}</h3>
    <p>
        {% blocktrans trimmed %}
            Sie müssen in jeder Periode der Einkommensphase neu entscheiden, wie viel Sie von Ihrem <b>Nettoeinkommen</b> für die Ruhephase sparen wollen.
            In der Ruhephase erhalten Sie von uns kein Einkommen mehr. Der Sparbeitrag wird bis zur Auszahlung in der Ruhephase mit 5 &#37; pro Periode verzinst (inkl. Zinseszinsen).
        {% endblocktrans %}
    </p>

    <h3>{% trans 'Die Besteuerung der Sparbeiträge' %}</h3>
    <p> {% if treatment in deferred_group %}
            {% blocktrans trimmed with tax_rate=tax_rate|floatformat:0%}
                In der Einkommensphase können Ihre Sparbeiträge im Rahmen einer Steuererklärung steuerlich geltend gemacht werden.
                Dementsprechend erhalten Sie eine Steuererstattung in Höhe von {{ tax_rate }} &#37; der Sparbeiträge, die Ihnen zusätzlich in der jeweiligen Periode der Einkommensphase ausgezahlt wird.
            {% endblocktrans %}
        {% else %}
            {% blocktrans trimmed %}
                In der Arbeitsphase können Ihre Sparbeiträge steuerlich nicht geltend gemacht werden. Dementsprechend erhalten Sie für die Sparbeiträge keine Steuererstattung.
            {% endblocktrans %}
        {% endif %}
    </p>
    <h3>{% trans 'Steuererklärung' %}</h3>
        <p>
            {% trans 'Nachdem Sie Ihre Sparentscheidung getroffen haben, müssen Sie in einem nächsten Schritt eine Steuererklärung ausfüllen.' %}
            {% if treatment in deferred_group %}
                {% trans 'Dazu tragen Sie bitte Ihr Bruttoeinkommen und den Sparbeitrag in die Steuererklärung ein.' %}
            {% else %}
                {% trans 'Dazu tragen Sie bitte Ihr Bruttoeinkommen in die Steuererklärung ein.' %}
            {% endif %}
        </p>


    <h3>{% trans 'Auszahlungen in der Einkommensphase' %}</h3>
        <p>{% trans 'Die Auszahlungen der Perioden 1 bis 8 in der Einkommensphase hängen von Ihren Sparentscheidungen in den jeweiligen Perioden ab.' %}
            {% if treatment in deferred_group %}
                {% trans 'Die <b>Differenz zwischen dem Nettoeinkommen und dem Sparbeitrag zuzüglich der Steuererstattung</b> bilden den Auszahlungsbetrag der jeweiligen Periode.' %}
            {% else %}
                {% trans 'Die <b>Differenz zwischen dem Nettoeinkommen und dem Sparbeitrag</b> bildet den Auszahlungsbetrag der jeweiligen Periode.' %}
            {% endif %}
        </p>

{% endblock %}


