{% load staticfiles otree %}
{% load i18n %}

{% block content %}
    <p>
        {% blocktrans trimmed %}
            Die Studie besteht aus einem <b>Verständnistest</b>, <b>zwei Handels-Sequenzen</b> und einem anschließenden <b>Fragebogen</b>. Jede Sequenz besteht aus <b>XX&nbsp;Perioden</b>. Jede Periode unterteilt sich wiederum in
            eine <b>Handelsphase</b> und eine <b>Dividendenphase</b>. Beide Sequenzen sind vom Ablauf her vollkommen identisch.
        {% endblocktrans %}
    </p>

    <p>
        {% trans 'Die folgende Abbildung zeigt den gesamten Ablauf im Zeitverlauf:' %}
    </p>

    <p>
        <img style="display: block; text-align: center; margin: 0px auto; width: 100%;" src="{% static image_path12_LifeCycle %}">
    </p>

    <br>

    <p>
        {% blocktrans trimmed with pay1000=1000|c payoff_e=payoff_e %}
            Die Durchführung der Studie erfolgt in einer <b>fiktiven Währung</b>, die wir <b>"ECU"</b> nennen. {{ pay1000 }} entsprechen dabei {{ payoff_e }}. Ihre tatsächliche Vergütung wird am Ende der Studie in Euro umgerechnet.
        {% endblocktrans %}
    </p>

    <br>

{% endblock %}


