{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles otree %}
{% load i18n %}

{% block scripts %}

{% endblock %}

{% block styles %}
    <link href="{% static 'ReputationCosts/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'ReputationCosts/table.css' %}" rel="stylesheet"/>
    <link href="{% static 'ReputationCosts/popup.css' %}" rel="stylesheet"/>
    <link href="{% static 'ReputationCosts/table_PopUp.css' %}" rel="stylesheet"/>

{% endblock %}



{% block title %}
Trainings-Sequenz - Handelsphase - Periode {{ subsession.round_number }}
{% endblock %}

{% block content %}


    <div class="container-fluid">
        <div class="row toprow">
            <div class="col-md-4">
                <div class="card my-0">
                    <div class="card-body" style="height: 500px;">
                        {% include 'Train/comp_template/Try.html' %}
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="card my-0" style="top: 0px; height: 500px" >
                    <div class="card-body"  style="height: 500px">
                        <h4 class="card-title" align="center" style="margin-bottom: .0rem">
                               Ihre Entscheidung
                        </h4>
                        <div id="Info2" style=" float:left;">
                            <div class="alert alert-info" role="alert" style="text-align: center;text-justify: inherit">
                                    Geben Sie hier Ihren Verkaufs- und Kaufpreis ein:
                            </div>
                                <div id="main" style="margin-left: -10px;">
                                        <div class="card my-4" >
                                            <div class="card-body" style="height: 250px;" >
                                                <h4 class="card-title" align="center">
                                                    X-Unternehmen
                                                </h4>
                                                <table border="0" cellpadding="1" cellspacing="1" align="center">
                                                    <tr style="font-size:10pt;">
                                                        <td>{% formfield player.try_verkauf label="Verkauf X:" %}</td>
                                                    </tr>
                                                    <tr style="font-size:10pt;">
                                                        <td>{% formfield player.try_kauf label="Kauf X:"%}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                </div>
                        {% next_button %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card my-0" >
                    <div class="card-body"  style="height: 500px">
                        <h4 class="card-title" align="center" style="margin-bottom: .0rem">
                           Informationen
                        </h4>
                        <div id="Info" style=" float:left;">
                            <p>
                                <table align="center" style="width: 378px" >
                                    <tr style="font-size:10pt;">
                                        <th>Ihr Vermögen </th>
                                    </tr>
                                    <tr style="font-size:10pt;">
                                        <td style="text-align:center" width="350px">{{ player.try_endowment }}</td>
                                    </tr>
                                </table>
                            </p>

                            <p>
                                <table align="center" style="width: 378px" >
                                    <tr style="font-size:10pt;">
                                        <th>Ihr Portfolio </th>
                                    </tr>
                                    <tr style="font-size:10pt;">
                                        <td style="text-align:center" width="175px">Anzahl X-Aktien</td>
                                    </tr>
                                    <tr style="background: whitesmoke; font-size:10pt;">
                                        <td style="text-align:center" width="175px">{{ player.try_anzahl }}</td>
                                    </tr>
                                </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<br>
<div class="container-fluid">
            <div class="col-md-12">
                    <div class="card-body" style="height: 100px;">
                        <div class="center">
                            <a class="button" href="#popup">Instruktionen anzeigen</a>
                            <div id="popup" class="overlay">
                                <div class="popup">
                                    <a class="close" href="#">&times;</a>
                                    <div class="content">
                                        <h4>Allgemeines</h4>

                                            <p>
                                                In diesem Experiment sollen Sie auf einem fiktiven Kapitalmarkt Aktien kaufen und verkaufen, um so Ihre Auszahlung am Ende des Experiments zu optimieren.
                                            </p>

                                            <p>
                                                Sie werden im Experiment <b>mehrere Perioden</b> an einem Kapitalmarkt spielen. Jede Periode besteht aus einer Handelsphase und einer Dividendenphase.
                                            </p>
                                            <p>
                                                In jeder <b>Handelsphase</b> können Sie am Kapitalmarkt Aktien handeln, um so Ihr Portfolio (= Aktienbestand) zu optimieren. In jeder <b>Dividendenphase</b> erhalten Sie anschließend für jede Aktie in Ihrem Portfolio eine Dividende (= Auszahlung).
                                            </p>

                                            <p>
                                                Das Experiment beginnt mit einer Trainings-Sequenz, in der Sie das Design und die Funktionalität des Marktes kennenlernen,
                                                um sich anschließend leichter im eigentlichen Experiment zu Recht zu finden.
                                                Auf den nächsten Seite finden Sie die Instruktionen für die Trainings-Sequenz.
                                            </p>

                                        <h4>Währung</h4>
                                            <p>
                                                Die Durchführung des Experiments erfolgt in einer <b>fiktiven Währung</b>, die wir <b>ECU</b> nennen. 500 ECU entsprechen dabei 1 €. Ihre tatsächliche Vergütung wird am Ende des Experiments in Euro umgerechnet.
                                            </p>

                                        <h4>Dividenden</h4>
                                        <p>
                                            Für jede Aktie eines Unternehmens in Ihrem Portfolio erhalten Sie in der Dividendenphase eine Dividende.

                                            Die Höhe der Dividende wird durch einen Zufallsgenerator für jede Periode neu bestimmt. Insgesamt gibt es fünf mögliche Dividenden mit einer gleichen Eintrittswahrscheinlichkeit von jeweils 20&nbsp;%.
                                        </p>
                                        <p>
                                            Die Höhe der Dividende in dieser Trainings-Sequenz beträgt 1, 2, 3, 4 <b>oder</b> 5 ECU.
                                            Diese wird mit Hilfe eines Zufallsgenerators bestimmt. Die Eintrittswahrscheinlichkeit ist für alle fünf Zustände gleich. So erhalten Sie beispielsweise mit einer Wahrscheinlichkeit von 20 % eine Dividende in Höhe von 3 ECU.
                                        </p>

                                        <h4>Markt</h4>
                                        <p>
                                           In diesem Experiment nehmen sie an einem fiktiven Kapitalmarkt teil. Neben Ihnen handeln noch 5 weitere Experimentteilnehmer mit Ihnen an diesem Markt.
                                        </p>
                                        <p>
                                            In jeder Periode haben Sie in der Handelsphase die Möglichkeit Aktien von anderen Marktteilnehmern zu kaufen als auch an andere Marktteilnehmer zu verkaufen.
                                            In der Trainings-Sequenz gibt es lediglich das X-Unternehmen.
                                        </p>

                                        <h4>Kauf von Aktien</h4>
                                        <p>
                                           Um Aktien von anderen Marktteilnehmer zu kaufen, geben Sie in das Feld <b>Kauf</b> den Maximalpreis ein, zum dem Sie bereit sind, die Aktie zu kaufen.
                                            Möchten Sie in einer Periode keine Aktie kaufen, lassen Sie das Feld frei. Achten Sie darauf, dass der Kaufpreis Ihr Vermögen nicht übersteigen darf.
                                        </p>

                                        <h4>Verkauf von Aktien</h4>
                                        <p>
                                                Um Aktien an andere Marktteilnehmer zu verkaufen, geben Sie in das Feld <b>Verkauf</b> den Mindestpreis ein, zum dem Sie bereit sind, die Aktie zu verkaufen.
                                                Möchten Sie in einer Periode keine Aktie verkaufen, lassen Sie das Feld frei. Beachten Sie, dass Ihr Kaufpreis nicht über Ihrem Verkaufspreis liegen darf, da Sie in diesem Fall mit sich selber handeln würden.
                                        </p>

                                        <h4>Ermittlung des Marktpreises</h4>

                                        <p>
                                               Im Anschluss an die Handelsphase werden die Nachfragen und Angebote auf dem Markt ausgewertet.
                                                Dabei werden im <b>Orderbuch</b> die Zahlungsbereitschaften aller Marktteilnehmer für den Kauf der Aktien (= Nachfragen) absteigend
                                                und die Zahlungsforderungen von allen Marktteilnehmern für den Verkauf der Aktien (= Angebote) aufsteigend sortiert. Sollten mehrere Marktteilnehmer Nachfragen oder Angebote in gleicher Höhe abgeben, entscheidet der Zufall, wer höher auf der Liste steht.
                                        </p>

                                        <p>
                                              <b>Kommt ein Handel zustanden?</b> Nun wird jeweils der Nachfragepreis mit dem Angebotspreis verglichen. Ist die Nachfrage höher als das Angebot wird gehandelt.
                                        </p>

                                        <p>
                                            <b>Wie hoch ist der Marktpreis zu dem alle Transaktionen durchgeführt werden?</b>
                                            Bei der Ermittlung des aktuellen Marktpreises werden lediglich die Preise berücksichtigt, bei dem ein Handel stattfindet.
                                            Der Marktpreis ist der <b>Mittelwert des Kauf- und Verkaufspreises</b> des Handelspaares, dass im Orderbuch am weitesten unten steht, bei dem aber noch ein Handel zustande kommt.
                                        </p>

                                        <br>
                                        {% include 'Train/includes/Popup.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
 </div>
{% endblock %}

