{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'RepCostExperiment/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {% trans 'Handels-Sequenz 1' %}
{% endblock %}

{% block content %}

    <p style="text-align: center">
        {% blocktrans trimmed with wrong_answers=wrong_answers %}
            Sie beginnen nun mit der ersten Handels-Sequenz.
        {% endblocktrans %}
    </p>
    <br>
    {% next_button %}


{% endblock %}


