{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ergebnis
{% endblock %}

{% block styles %}
    <link href="{% static 'ReputationCosts/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'ReputationCosts/table.css' %}" rel="stylesheet"/>


{% endblock %}

{% block content %}

<div class="container-fluid ">
        <div class="row toprow justify-content-md-center">
            <div class="col-md-4">
                <div class="card my-2" >
                    <div class="card-body"  style="height: 300px;" align="center">
                        <h4 class="card-title" align="center">
                           Information
                        </h4>
                        <div id="Info">
                            <p>
                                <table align="center" >
                                    <tr style="font-size:10pt;">
                                        <th colspan="2">Ihr Vermögen </th>
                                    </tr>
                                    <tr style="background: whitesmoke; font-size:10pt;">
                                        <td width="250px">Vermögen zum Ende der Sequenz</td> <td style="text-align:right" width="100px">{{player.endowment}}</td>
                                    </tr>
                                </table>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<center>
    {% next_button %}
</center>
{% endblock %}

