{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans 'Instruktionen' %}
{% endblock %}

{% block scripts %}

<script src="{% static "RepCostExperiment/js/prev_next_button.js" %}"></script>

{% endblock %}


{% block styles %}
    <link href="{% static 'RepCostExperiment/css/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'RepCostExperiment/css/back-button.css' %}" rel="stylesheet">
    <link href="{% static 'RepCostExperiment/css/Counter.css' %}" rel="stylesheet"/>
    <link href="{% static 'RepCostExperiment/css/table.css' %}" rel="stylesheet"/>
    <link href="{% static 'RepCostExperiment/css/Popup_news.css' %}" rel="stylesheet"/>


    <style type="text/css">

    table td{
        text-align: center;
    }

    .otree-title{
        visibility: hidden;
        height: 0px;
    }
    </style>

{% endblock %}

{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

    <li class="nav-item" >
        <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()">{% trans 'Aufbau des Experiments' %}</a>
    </li>

    <li class="nav-item" >
        <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">{% trans 'Unternehmen und Dividenden' %}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()">{% trans 'Handelsphase' %}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()">{% trans 'Dividendenphase' %}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="part5-tab" data-toggle="tab" href="#part5" role="tab" aria-controls="part5" onclick="topFunction()">{% trans 'Vergütung' %}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="part6-tab" data-toggle="tab" href="#part6" role="tab" aria-controls="part6" onclick="topFunction()">{% trans 'Verständnisfragen' %}</a>
    </li>

</ul>



<!-- Tab content -->

<!-- Instructions -->


<div class="tab-content" id="myTabContent">

    <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

        <div class="card-header bg-transparent mainheader" >
            <h2 class="card-title ">
                {% trans 'Aufbau des Experiments' %}
            </h2>
        </div>
        <br>

        {% include 'RepCostExperiment/content/structure.html' %}


        <button onclick="topFunction()" type="button" class="nexttab btn-primary btn otree-btn-next">{% trans 'Weiter' %}</button>
    </div>

    <!-- Companies and dividends -->

    <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

        <div class="card-header bg-transparent mainheader" >
            <h2 class="card-title ">
                {% trans 'Unternehmen und Dividenden' %}
            </h2>
        </div>
        <br>

        {% include 'RepCostExperiment/content/companies.html' %}

        <div style="text-align: center">
            <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back ">{% trans 'Zurück' %}</button>
            <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">{% trans 'Weiter' %}</button>
        </div>
    </div>

<!-- Income phase -->

    <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">

        <div class="card-header bg-transparent mainheader" >
            <h2 class="card-title">
                {% trans 'Handelsphase' %}
            </h2>

        </div>
        <br>

        {% include 'RepCostExperiment/content/Handelsphase.html' %}

        <div style="text-align: center">
            <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back ">{% trans 'Zurück' %}</button>
            <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">{% trans 'Weiter' %}</button>
        </div>
    </div>

<!-- Rest phase -->
    <div class="tab-pane" id="part4" role="tabpanel" aria-labelledby="part4-tab">

        <div class="card-header bg-transparent mainheader" >
            <h2 class="card-title">
                {% trans 'Dividendenphase' %}
            </h2>
        </div>
        <br>

        {% include 'RepCostExperiment/content/Dividendenphase.html' %}

        <div style="text-align: center">
            <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back ">{% trans 'Zurück' %}</button>
            <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">{% trans 'Weiter' %}</button>
        </div>
    </div>


<!-- Payoff -->
    <div class="tab-pane" id="part5" role="tabpanel" aria-labelledby="part5-tab">

        <div class="card-header bg-transparent mainheader" >
            <h2 class="card-title">
                {% trans 'Vergütung der Studie' %}
            </h2>

        </div>
        <br>

        {% include 'RepCostExperiment/content/payoff.html' %}

        <div style="text-align: center">
            <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back ">{% trans 'Zurück' %}</button>
            <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">{% trans 'Weiter' %}</button>
        </div>
    </div>

<!-- Comprehension test -->
    <div class="tab-pane" id="part6" role="tabpanel" aria-labelledby="part6-tab">

        <div class="card-header bg-transparent mainheader" >
            <h2 class="card-title">
                {% trans 'Verständnistest' %}
            </h2>

        </div>
        <br>

        {% include 'RepCostExperiment/content/comprehension_test.html' %}

        <div style="text-align: center">
            <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back ">{% trans 'Zurück' %}</button>
            <button class="next btn btn-primary" type="submit">{% trans 'Überprüfen' %}</button>
        </div>
    </div>

</div>


{% endblock %}



