{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Zahlungsbereitschaften eingeben
{% endblock %}

{% block content %}
<p>Ausstattung: {{ player.endowment }}</p>
<table border="1">
  <tr>
    <td>
        <p>Anzahl Aktien A: {{ player.anzahlA }}</p>
    </td>
    <td>
      <p>Anzahl Aktien B: {{ player.anzahlB }}</p>
    </td>
  </tr>

  <tr>
    <td>
       {% formfield player.verkaufA  %}
    </td>
    <td>
      {% formfield player.verkaufB %}
    </td>
  </tr>

    <tr>
    <td>
       {% formfield player.kaufA %}
    </td>
    <td>
      {% formfield player.kaufB %}
    </td>
  </tr>

</table>

    {% next_button %}

{% endblock %}
