{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans 'Instruktionen' %}
{% endblock %}

{% block scripts %}

<script src="{% static "RepCostExperiment/js/prev_next_button.js" %}"></script>

{% endblock %}


{% block styles %}
    <link href="{% static 'RepCostExperiment/css/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'RepCostExperiment/css/back-button.css' %}" rel="stylesheet">
    <link href="{% static 'RepCostExperiment/css/Counter.css' %}" rel="stylesheet"/>
    <link href="{% static 'RepCostExperiment/css/table.css' %}" rel="stylesheet"/>

    <style type="text/css">

    table td{
        text-align: center;
    }

    .otree-title{
        visibility: hidden;
        height: 0px;
    }
    </style>

{% endblock %}

{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

    <li class="nav-item" >
        <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()">{% trans 'Informationen' %}</a>
    </li>

    <li class="nav-item" >
        <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">{% trans 'Unternehmen und Dividenden' %}</a>
    </li>

</ul>



<!-- Tab content -->

<!-- Instructions -->
<div class="tab-content" id="myTabContent">

    <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

        <div class="card-header bg-transparent mainheader" >
            <h2 class="card-title ">
                {% trans 'Informationen zur zweiten Sequenz' %}
            </h2>
        </div>
        <br>

        {% include 'RepCostExperiment/content/info_new_sequence.html' %}


        <button onclick="topFunction()" type="button" class="nexttab btn-primary btn otree-btn-next">{% trans 'Weiter' %}</button>
    </div>

    <!-- Companies and dividends -->

    <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

        <div class="card-header bg-transparent mainheader" >
            <h2 class="card-title ">
                {% trans 'Unternehmen und Dividenden' %}
            </h2>
        </div>
        <br>

        {% include 'RepCostExperiment/content/companies.html' %}

        <div style="text-align: center">
            <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back ">{% trans 'Zurück' %}</button>
            <button class="next btn btn-primary" type="submit">{% trans 'Fertig' %}</button>
        </div>
    </div>



{% endblock %}



