{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href="{% static 'ReputationCosts/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'ReputationCosts/table.css' %}" rel="stylesheet"/>
    <link href="{% static 'ReputationCosts/Popup.css' %}" rel="stylesheet"/>

{% endblock %}

{% block title %}
Ergebnisse - Periode {{ subsession.round_number }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row toprow">
            <div class="col-md-4">
                <div class="card my-0">
                    <div class="card-body" style="height: 550px;">
                        <h4 class="card-title" align="center" style="margin-bottom: .0rem">
                            A-Unternehmen
                        </h4>
                        <div id="UnternehmenA" style=" float:left;">
                                <p>
                                    <table align="center" >
                                        <tr style="font-size:10pt;">
                                            <th colspan="2">Gewinn- und Verlustrechnung <br> des letzten Jahres 2018 (in Mio. €)</th>
                                        </tr>
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="250px">Umsatzerlöse</td> <td style="text-align:center" width="100px">60,0</td>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <td width="250px">Gewinn vor Steuern</td> <td style="text-align:center" width="100px">35,0</td>
                                        </tr>
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="250px">Gewinn nach Steuern</td> <td style="text-align:center" width="100px">32,5</td>
                                        </trstyle="font-size:10pt;">
                                        <tr style="font-size:10pt;">
                                            <td width="250px">Effektive Steuerquote</td> <td style="text-align:center" width="100px">7,1 %</td>
                                        </tr>
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="250px">Gezahlte Steuern</td> <td style="text-align:center" width="100px">2,5</td>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <th colspan="2">Aktuelle Dividende</th>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <td width="200px">Auszahlung pro Aktie:</td> <td style="text-align:center" width="150px"> {{ divA }}</td>
                                        </tr>
                                    </table>
                                </p>

                                <p style="font-weight: bold;color: #007bff; text-underline: #007bff; font-size:12.0pt; text-align: center"><u>News und Analysen</u></p>
                                <p>
                                    <table border="0" cellpadding="1" cellspacing="1">
                                        <colgroup>
                                            <col width="20%" />
                                            <col width="80%" />
                                        </colgroup>

                                        <tr style="font-size:10pt;">
                                            <td>15.01.2019</td>
                                            <td>A-Unternehmen mit Gewinnzuwachs – Anleger erfreut</td>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <td valign="top">03.01.2019</td>
                                            <td>Gewinnverschiebung ins ausländische Steuerparadies Cayman Islands, <br> A-Unternehmen reduziert die effektive Steuerquote auf unterdurchschnittliche 7,1 %</td>
                                        </tr>
                                    </table>
                                </p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card my-0" >
                    <div class="card-body"  style="height: 475px;">
                        <h4 class="card-title" align="center">
                           Informationen
                        </h4>
                        <div id="Info" style=" float:left;">
                                <p>
                                    <table align="center" >
                                        <tr style="font-size:10pt;">
                                            <th colspan="2">Ausstattung </th>
                                        </tr>
                                        <tr style=" font-size:10pt;">
                                            <td width="250px">Ausstattung zu Beginn der Periode</td> <td style="text-align:right" width="100px">{{player.endowmentalt}}</td>
                                        </tr>
                                        {% if player.is_trade_verkaufA %}
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="250px">Verkauf der A-Aktie</td> <td style="text-align:right" width="100px">+ {{marktpreisA}}</td>
                                        </tr>
                                        {% endif %}
                                        {% if player.is_trade_verkaufB %}
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="250px">Verkauf der B-Aktie</td> <td style="text-align:right" width="100px">+ {{marktpreisB}}</td>
                                        </tr>
                                        {% endif %}
                                        {% if player.is_trade_kaufA %}
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="250px">Kauf der A-Aktie</td> <td style="text-align:right" width="100px">- {{marktpreisA}}</td>
                                        </tr>
                                        {% endif %}
                                        {% if player.is_trade_kaufB %}
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="250px">Kauf der B-Aktie</td> <td style="text-align:right" width="100px">- {{marktpreisB}}</td>
                                        </tr>
                                        {% endif %}
                                        <tr style="font-size:10pt;">
                                            <td width="250px">Erhaltene Dividenden:</td> <td style="text-align:right" width="100px"></td>
                                        </tr>
                                        {% if player.anzahlA > 0 %}
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="280px">{{ anzahlA }} A-Aktien, Dividende jeweils {{ divA }} </td> <td style="text-align:right" width="70px">+ {{ player.gesdiviA }}</td>
                                        </tr>
                                        {% endif %}
                                        {% if player.anzahlA > 0 %}
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="280px">{{ anzahlB }} B-Aktien, Dividende jeweils {{ divB }} </td> <td style="text-align:right" width="70px">+ {{ player.gesdiviB }}</td>
                                        </tr>
                                        {% endif %}
                                        <tr style=" font-size:10pt;">
                                            <td width="250px">Ausstattung zum Ende der Periode</td> <td style="text-align:right" width="100px">{{player.endowment}}</td>
                                        </tr>


                                    </table>
                                </p>

                                <p>
                                    <table align="center" >
                                        <tr style="font-size:10pt;">
                                            <th colspan="2">Portfolio </th>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <td style="text-align:center" width="180px">Anzahl A-Aktien</td> <td style="text-align:center" width="180px">Anzahl B-Aktien</td>
                                        </tr>
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td style="text-align:center" width="175px">{{ player.anzahlA }}</td> <td style="text-align:center" width="175">{{ player.anzahlB }}</td>
                                        </tr>
                                    </table>
                                </p>
                        </div>
                    </div>
                    {% next_button %}
                </div>
            </div>


            <div class="col-md-4">
                <div class="card my-0">
                    <div class="card-body" style="height: 550px;">
                        <h4 class="card-title" align="center" style="margin-bottom: .0rem">
                            B-Unternehmen
                        </h4>
                        <div id="UnternehmenB" style=" float:left;">
                                <p>
                                    <table align="center" >
                                        <tr style="font-size:10pt;">
                                            <th colspan="2">Gewinn- und Verlustrechnung <br> des letzten Jahres 2018 (in Mio. €)</th>
                                        </tr>
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="250px">Umsatzerlöse</td> <td style="text-align:center" width="100px">60,0</td>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <td width="250px">Gewinn vor Steuern</td> <td style="text-align:center" width="100px">35,0</td>
                                        </tr>
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="250px">Gewinn nach Steuern</td> <td style="text-align:center" width="100px">24,3</td>
                                        </trstyle="font-size:10pt;">
                                        <tr style="font-size:10pt;">
                                            <td width="250px">Effektive Steuerquote</td> <td style="text-align:center" width="100px">30,6 %</td>
                                        </tr>
                                        <tr style="background: whitesmoke; font-size:10pt;">
                                            <td width="250px">Gezahlte Steuern</td> <td style="text-align:center" width="100px">10,7</td>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <th colspan="2">Aktuelle Dividende</th>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <td width="200px">Auszahlung pro Aktie:</td> <td style="text-align:center" width="150px"> {{ divA }}</td>
                                        </tr>
                                    </table>
                                </p>

                                <p style="font-weight: bold;color: #007bff; text-underline: #007bff; font-size:12.0pt; text-align: center"><u>News und Analysen</u></p>
                                <p>
                                    <table border="0" cellpadding="1" cellspacing="1">
                                        <colgroup>
                                            <col width="20%" />
                                            <col width="80%" />
                                        </colgroup>

                                        <tr style="font-size:10pt;">
                                            <td>15.01.2019</td>
                                            <td>B-Unternehmen mit Gewinnzuwachs – Anleger erfreut</td>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <td valign="top">03.01.2019</td>
                                            <td>B-Unternehmen hat eine effektive Steuerquote von 30,6 % - Steuerquote entspricht dem deutschen Durchschnitt</td>
                                        </tr>
                                    </table>
                                </p>

                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="row bottomrow ">

            <div class="col-md-3">
                <div class="card my-2">
                    <div class="card-body">
                        <h4 class="card-title" align="center">
                           Marktpreise A
                        </h4>
                             <p>
                                <table align="center" >
                                        <tr style="font-size:10pt;">
                                            <th width="350px" colspan="1">Aktueller Marktpreis: {% if marktpreisA == None %}Kein Handel{% else %}{{ marktpreisA }}{% endif %} </th>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <td style="text-align:center" width="175px">{% if player.is_trade_verkaufA %}<div class="alert alert-success">A-Aktie verkauft für {{ marktpreisA }} </div>{% else %}<div class="alert alert-warning">Keine A-Aktie verkauft </div>{% endif %}</td>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <td style="text-align:center" width="175px">{% if player.is_trade_kaufA %}<div class="alert alert-success">A-Aktie gekauft für {{ marktpreisA }} </div>{% else %}<div class="alert alert-warning">Keine A-Aktie gekauft </div>{% endif %}</td>
                                        </tr>
                                </table>
                            </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-2">
                    <div class="card-body">
                        <h4 class="card-title" align="center">
                           Markt Aa
                        </h4>
                            <table border="0" cellpadding="1" cellspacing="1">
                                  <tr style="font-size:10pt;">
                                      <th>Spieler</th>
                                    <th>Nachfrage</th>
                                      <th>Angebot</th>
                                      <th>Spieler</th>
                                  </tr>
                                    <tr style="font-size:10pt;">
                                            <td style="background: whitesmoke;text-align:center">{{group.datenA_kauf.0.SPIELER}}</td>
                                        <td style="background: whitesmoke;">{{kaufA_liste.0}}</td>
                                        <td style="background: whitesmoke;">{{verkaufA_liste.0}}</td>
                                            <td style="background: whitesmoke;text-align:center">{{group.datenA_verkauf.0.SPIELER}}</td>
                                    </tr>
                                    <tr style="font-size:10pt;">
                                            <td style="background: whitesmoke;text-align:center">{{group.datenA_kauf.1.SPIELER}}</td>
                                        <td style="background: whitesmoke;">{{kaufA_liste.1}}</td>
                                        <td style="background: whitesmoke;">{{verkaufA_liste.1}}</td>
                                            <td style="background: whitesmoke;text-align:center">{{group.datenA_verkauf.1.SPIELER}}</td>
                                    </tr>
                                    <tr style="font-size:10pt;">
                                            <td style="background: whitesmoke;text-align:center">{{group.datenA_kauf.2.SPIELER}}</td>
                                        <td style="background: whitesmoke;">{{kaufA_liste.2}}</td>
                                        <td style="background: whitesmoke;">{{verkaufA_liste.2}}</td>
                                            <td style="background: whitesmoke;text-align:center">{{group.datenA_verkauf.2.SPIELER}}</td>
                                    </tr>

                            </table>
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <div class="card my-2">
                    <div class="card-body">
                        <h4 class="card-title" align="center">
                           Markt B
                        </h4>
                            <table border="0" cellpadding="1" cellspacing="1">
                                  <tr style="font-size:10pt;">
                                      <th>Spieler</th>
                                    <th>Nachfrage</th>
                                      <th>Angebot</th>
                                      <th>Spieler</th>
                                  </tr>
                                    <tr style="font-size:10pt;">
                                            <td style="background: whitesmoke;text-align:center">{{group.datenB_kauf.0.SPIELER}}</td>
                                        <td style="background: whitesmoke;">{{kaufB_liste.0}}</td>
                                        <td style="background: whitesmoke;">{{verkaufB_liste.0}}</td>
                                            <td style="background: whitesmoke;text-align:center">{{group.datenB_verkauf.0.SPIELER}}</td>
                                    </tr>
                                    <tr style="font-size:10pt;">
                                            <td style="background: whitesmoke;text-align:center">{{group.datenB_kauf.1.SPIELER}}</td>
                                        <td style="background: whitesmoke;">{{kaufB_liste.1}}</td>
                                        <td style="background: whitesmoke;">{{verkaufB_liste.1}}</td>
                                            <td style="background: whitesmoke;text-align:center">{{group.datenB_verkauf.1.SPIELER}}</td>
                                    </tr>
                                    <tr style="font-size:10pt;">
                                            <td style="background: whitesmoke;text-align:center">{{group.datenB_kauf.2.SPIELER}}</td>
                                        <td style="background: whitesmoke;">{{kaufB_liste.2}}</td>
                                        <td style="background: whitesmoke;">{{verkaufB_liste.2}}</td>
                                            <td style="background: whitesmoke;text-align:center">{{group.datenB_verkauf.2.SPIELER}}</td>
                                    </tr>

                            </table>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="card my-2">
                    <div class="card-body">
                        <h4 class="card-title" align="center">
                           Marktpreise B
                        </h4>
                            <p>
                                <table align="center" >
                                        <tr style="font-size:10pt;">
                                            <th width="350px" colspan="1">Aktueller Marktpreis: {% if marktpreisB == None %}Kein Handel{% else %}{{ marktpreisB }}{% endif %} </th>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <td style="text-align:center" width="175px">{% if player.is_trade_verkaufB %}<div class="alert alert-success">B-Aktie verkauft für {{ marktpreisB }} </div>{% else %}<div class="alert alert-warning">Keine B-Aktie verkauft </div>{% endif %}</td>
                                        </tr>
                                        <tr style="font-size:10pt;">
                                            <td style="text-align:center" width="175px">{% if player.is_trade_kaufB %}<div class="alert alert-success">B-Aktie gekauft für {{ marktpreisB }} </div>{% else %}<div class="alert alert-warning">Keine B-Aktie gekauft </div>{% endif %}</td>
                                        </tr>
                                </table>
                            </p>
                    </div>
                </div>
            </div>


        </div>
</div>

{% endblock %}