{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block styles %}

<style type="text/css">
    .otree-title {
        text-align: center;
    }

</style>
    <link href="{% static 'RepCostExperiment/css/custom.css' %}" rel="stylesheet"/>
    <link href="{% static 'RepCostExperiment/css/Counter.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {% trans 'Herzlich Willkommen zu unserem Experiment' %}
{% endblock %}

{% block content %}
    <p>Vielen Dank für die Teilnahme an diesem Experiment. Das Experiment wird etwa eine Stunde dauern. Wie viel Sie insgesamt verdienen, hängt von Ihren Entscheidungen ab. Die folgenden Instruktionen erläutern Ihnen, wie Sie durch Ihre Entscheidungen Ihren Verdienst aus dem Experiment beeinflussen und auf welche Weise Sie in diesem Experiment Geld verdienen. Lesen Sie sich daher die folgenden Instruktionen aufmerksam durch. </p>
    <p>Bevor das Experiment beginnt, möchten wir Sie noch auf ein paar wichtige Punkte aufmerksam machen: </p>
    <ul>
        <li>Sie dürfen während des gesamten Experiments nicht mit anderen Teilnehmern kommunizieren oder Ihren Platz verlassen. Bitte bleiben Sie auch mit Ihren Augen auf Ihrem Arbeitsplatz.</li>
        <li>Bitte schalten Sie Ihr Smartphone bzw. Handy aus und verstauen Sie es in Ihrer Tasche.</li>
        <li>Es ist wichtig, dass Sie die Instruktionen verstanden haben. Daher scheuen Sie sich bitte nicht Fragen zu stellen. Bei Fragen heben Sie bitte die Hand. Wir werden dann auf Sie zukommen, um Ihre Fragen zu beantworten. Bitte stellen Sie Fragen nicht laut.</li>
        <li>Bitte beachten Sie, dass es bei dem Experiment zu Wartezeiten kommen kann, da die verschiedenen Teilnehmer unterschiedlich schnell sind. Wundern Sie sich daher bitte nicht, wenn Sie gebeten werden, ein paar Minuten zu warten.</li>
    </ul>
    </p>
    <p>
        {% next_button %}
    </p>





{% endblock %}


